<h3 align=center>PROYECTO PARA KEEPCODING</h3>
<h1 align=center style="color:CornflowerBlue; text-decoration: underline">PREDICCIÓN DE DAÑOS EN EDIFICIOS CAUSADOS POR TERREMOTOS</h1>

<h4 align=center style="font-family:Verdana;">Equipo: The Bad Batch</h4>
<h4 align=center style="font-family:Verdana;">Alumnos: Alejandro Taboada, Juan Cruz Gulam, Fernando Cuéllar, Iván Herráiz, David Jiménez</h4>

---

## <span style="color:CornflowerBlue; text-decoration: underline overline;">MOTIVACIÓN:</span>
* Aunque todo el mundo sabe lo que son los terremotos, nadie puede predecir con exactitud cuándo pasarán, o qué consecuencias tendrán, sólo se pueden hacer suposiciones
* aproximadas.  
* Este estudio surge para intentar ayudar a predecir y mitigar las consecuencias de uno de los efectos más devastadores de los seísmos para la humanidad: la destrucción
* de edificaciones, con la probabilidad de que suceda con sus habitantes dentro.
* Encontramos inspiración y punto de arranque del dataset en <a href="https://www.drivendata.org/competitions/57/nepal-earthquake/page/134/" style="text-decoration: underline">DrivenData</a>, sitio dedicado a promover competiciones de código para uso en proyectos  
de ayuda global reales a petición de diversas organizaciones. Esta competición está sin cerrar, por lo que no se ha proporcionado una solución para el proyecto que
hayamos podido usar aquí.

## <span style="color:CornflowerBlue; text-decoration: underline overline;">ANTECEDENTES DEL ESTUDIO:</span>
Nos baseremos en el <a href="https://es.wikipedia.org/wiki/Terremoto_de_Nepal_de_abril_de_2015" style="text-decoration: underline">Terremoto en Nepal en Abril de 2015:</a>  
\
<img src="./images/nepal.webp" alt="Nepal" width="600"/></img>
\
\
En Abril del 2015 hubo un terremoto en Nepal de 7.8 en la escala de Richter, a 80 kms de la icónica Kathmandú seguida de más de cien réplicas, y tres semanas después otro de 7.2 que terminó  
de asolar la región. Hubo unas 9000 víctimas mortales y casi 22000 heridos, además de muertes en India y en Tíbet.  
Usaremos este evento en concreto por ser el que tiene uno de los más grandes y mejor documentados <a href="https://github.com/TheBadBatchProjects/earthquakes/blob/main/data/archive.zip" style="text-decoration: underline">datasets</a> de análisis de secuelas del mundo.  
Describe tanto las características de las construcciones previas al terremoto como su estado tras el seísmo, además de datos sociales y de impacto que pueden ser muy útiles tanto para análisis  
como para predicción.
\
\
<img src="./images/original.jpg" alt="Nepal Temple Down" width="600"/> </img><img src="./images/collage.jpg" alt="Collage" width="680"/></img>
\
\
Es de sobra conocido que esa región se encuentra situada justo encima de la zona en la que la placa India se introduce bajo la placa Eurasiática, dando lugar a la cordillera del Tíbet y a  
las mayores montañas de la Tierra debido a la violencia del choque. Se prevée que la placa Índica acabará desapareciendo bajo la Eurasiática eventualmente, y además situada junto al  
"Cinturón de Fuego" del Pacífico, donde se encuentran al menos 6 placas, incluída la Indo-Australiana. Por lo tanto, tienen continuos seísmos, que podrían tener consecuencias como las  
ocurridas en este caso.  
A continuación podemos cer la placa Índica, y a la derecha la distribución de las placas de la Tierra y en <span style="color:red;">puntos rojos</span> representadas las intensidades y frecuencias de los seísmos catastróficos.

<img src="./images/india_moving.jpg" alt="Indian plate" width="250"/> </img><img src="./images/plates.webp" alt="Collage" width="750"/></img>
\
\
Se puede observar que en todas las zonas de contacto de las placas tienen la misma ocurrencia de seísmos catastróficos, no son catástrofes exclusivas de una sola unión de placas, por lo que  
este modelo podría ayudar en cualquier parte del mundo con un simple ajuste de las características de las edificaciones y terrenos.
\
\
En toda la parte central y oriental del continente asiático son típicas y de uso masivo las construcciones con materiales baratos, y usando métodos de construcción con miles de años de  
antigüedad, como barro y paja, bambú, ladrillos sin cimientos, etc..., por lo que corren riesgos masivos de daños catastróficos materiales y humanos. De hecho, hay edificaciones Patrimonio  
de la Humanidad por su belleza, contenido cultural y gran antigüedad. Mucho de este mítico legado de la Humanidad fue destruído durante los seísmos. Dada la similitud de las construcciones  
en toda esa mitad del continente este modelo podría resultar de aplicación casi inmediata en cualquiera de esas regiones, como comienzo de un posible programa estándar de censado de edificios  
y asesoramiento en prevención de desastres.  
\
\
<span style="color:red; style=text-decoration: underline">El objetivo de este estudio</span> es predecir los posibles grados de daños que puede sufrir cada edificio censado, en función de sus características medidas, en caso de producirse un seísmo, sin importar  
el grado del mismo.  
El peso del análisis va a recaer en un estudio exhaustivo de los edificios únicos. Los datos personales de los habitantes puede que nos den más pistas de las diferencias técnicas no registradas  
entre los edificios, como por ejemplo el nivel económico de la familia, que podría revelar que los materiales son de mejor calidad en un edificio que en otro aunque la tecnología de construcción  
sea la misma para ambos, pero no depende de esos datos el que un edificio aguante o no un seísmo. Por lo tanto sólo analizaremos una familia única por edificio como posible indicador de barrios en  
los que los edificios podrían tener alguna diferencia por el nivel social, y además nos servirá para poder usar esa familia única para hacer los join correspondientes con los datasets de tipo más  
demográfico.

---

<i>Nota: Las celdas de código están minimizadas por facilidad de visualización. Despliega cada una con la flechita a la izquierda de la celda.</i>

## <span style="color:CornflowerBlue; text-decoration: underline overline;">LOS DATOS:</span>

El dataset se recogió dividido en varios sets según temática, con filosofía parecida a una base de datos relacional.\
Dichos archivos están en el directorio "data" del proyecto.  
<details><summary><i><b><a style="color:DarkTurquoise; text-decoration: underline">Mostrar la información de los datos</a></b></i></summary>
<br>
Nuestro archivo de features principal es:  

* **<span style="color:Crimson;">"building_structure.csv"</span>**, que contiene las características del edificio, del cual saldrá nuestro target a predecir, "damage grade" (el grado de daños en  
el edificio), al que adjuntaremos la solución técnica propuesta para cada caso ("technical_solution_proposed").
(con soluciones de 4 tipos según el grado  
de daños). Guarda las variables:
    * <span style="color:DarkGoldenrod;">"building_id"</span>, que contiene el identificador único del edificio/vivienda.
    * <span style="color:DarkGoldenrod;">"district_id", "vdcmun_id" y "ward_id"</span>, que contienen datos de localización del edificio/vivienda.
    * <span style="color:DarkGoldenrod;">"count_floors_pre_eq"</span>, que cuenta las plantas con las que cuenta el edificio antes del terremoto (pre EarthQuake, pre_eq).
    * <span style="color:DarkGoldenrod;">"count_floors_post_eq"</span>, que cuenta las plantas que le quedan levantadas al edificio tras el terremoto (post EarthQuake, post_eq).
    * <span style="color:DarkGoldenrod;">"age_building"</span>, la edad en años del edificio.
    * <span style="color:DarkGoldenrod;">"plinth_area_sq_ft"</span>, área de suelo en pies cuadrados que cubre la planta del edificio.
    * <span style="color:DarkGoldenrod;">"height_ft_pre_eq"</span>, altura en pies del edificio antes del terremoto.
    * <span style="color:DarkGoldenrod;">"height_ft_post_eq"</span>, altura en pies del edifio tras el terremoto.
    * <span style="color:DarkGoldenrod;">"land_surface_condition"</span>, condiciones del terreno en el que está asentado.
    * <span style="color:DarkGoldenrod;">"foundation_type"</span>, tipo de cimientos o base.
    * <span style="color:DarkGoldenrod;">"roof_type"</span>, tipo de tejado.
    * <span style="color:DarkGoldenrod;">"ground_floor_type"</span>, tipo de planta suelo.
    * <span style="color:DarkGoldenrod;">"other_floor_type"</span>, tipo del resto de las plantas, si tiene.
    * <span style="color:DarkGoldenrod;">"position"</span>, tipo de adosamiento a otros edificios.
    * <span style="color:DarkGoldenrod;">"plan_configuration"</span>, forma de la planta del edificio.
    * <span style="color:DarkGoldenrod;">"has_superstructure_adobe_mud"</span>, variable one-hot-encoding, material de superestructura barro/adobe.
    * <span style="color:DarkGoldenrod;">"has_superstructure_mud_mortar_stone"</span>, variable one-hot-encoding, material de superestructura barro/mortero/piedra.
    * <span style="color:DarkGoldenrod;">"has_superstructure_stone_flag"</span>, variable one-hot-encoding, material de superestructura bloques de piedra.
    * <span style="color:DarkGoldenrod;">"has_superstructure_cement_mortar_stone"</span>, variable one-hot-encoding, material de superestructura cemento/mortero/piedra.
    * <span style="color:DarkGoldenrod;">"has_superstructure_mud_mortar_brick"</span>, variable one-hot-encoding, material de superestructura barro/mortero/ladrillo.
    * <span style="color:DarkGoldenrod;">"has_superstructure_cement_mortar_brick"</span>, variable one-hot-encoding, material de superestructura cementeo/mortero/ladrillo.
    * <span style="color:DarkGoldenrod;">"has_superstructure_timber"</span>, variable one-hot-encoding, material de superestructura madera.
    * <span style="color:DarkGoldenrod;">"has_superstructure_bamboo"</span>, variable one-hot-encoding, material de superestructura bambú.
    * <span style="color:DarkGoldenrod;">"has_superstructure_rc_non_engineered"</span>, variable one-hot-encoding, material de superestructura cemento armado puro.
    * <span style="color:DarkGoldenrod;">"has_superstructure_rc_engineered"</span>, variable one-hot-encoding, material de superestructura cemento armado con superaditivos.
    * <span style="color:DarkGoldenrod;">"has_superstructure_other"</span>, variable one-hot-encoding, material de superestructura otros.
    * <span style="color:DarkGoldenrod;">"condition_post_eq"</span>, condición general del edificio tras el terremoto.
    * <span style="color:DarkGoldenrod;">"damage_grade"</span>, grado de daño, nuestro target.
    * <span style="color:DarkGoldenrod;">"technical_solution_proposed"</span>, acción correctora aconsejada.
    <br><br>

Además, incluye otros datasets de apoyo suplementarios, de los cuales podremos aprovechar características aisladas:
* **<span style="color:Crimson;">"building_damage_assessment.csv"</span>**, revisión detallada de daños estructurales. No detallamos aquí, por tener 79 características,  
  pero incluye datos sobre daños en paredes, techos, fachada, deformación de planta, desplazamiento de los edificios, entre otras.
<br><br>
* **<span style="color:Crimson;">"building_ownership_and_use.csv"</span>**, con los tipos de propiedad y uso destinado del inmueble. Sus variables son:
    * <span style="color:DarkGoldenrod;">"building_id""</span>, que contiene el identificador único del edificio/vivienda.
    * <span style="color:DarkGoldenrod;">"district_id", "vdcmun_id" y "ward_id"</span>, que contienen datos de localización del edificio/vivienda.
    * <span style="color:DarkGoldenrod;">"legal_ownership_status"</span>, tipo de propiedad (pública o privada).
    * <span style="color:DarkGoldenrod;">"count_families"</span>, conteo de unidades familiares residentes en la misma vivienda.
    * <span style="color:DarkGoldenrod;">"has_secondary_use"</span>, variable one-hot-encoding, si es de uso no residencial.
    * <span style="color:DarkGoldenrod;">"has_secondary_use_agriculture"</span>, variable one-hot-encoding, dedicado a agricultura.
    * <span style="color:DarkGoldenrod;">"has_secondary_use_hotel"</span>, variable one-hot-encoding, dedicado a hotel.
    * <span style="color:DarkGoldenrod;">"has_secondary_use_rental"</span>, variable one-hot-encoding, dedicado a alquiler.
    * <span style="color:DarkGoldenrod;">"has_secondary_use_institution"</span>, variable one-hot-encoding, dedicado a institucional.
    * <span style="color:DarkGoldenrod;">"has_secondary_use_school"</span>, variable one-hot-encoding, dedicado a educación.
    * <span style="color:DarkGoldenrod;">"has_secondary_use_industry"</span>, variable one-hot-encoding, dedicado a industria.
    * <span style="color:DarkGoldenrod;">"has_secondary_use_health_post"</span>, variable one-hot-encoding, dedicado a sanidad.
    * <span style="color:DarkGoldenrod;">"has_secondary_use_gov_office"</span>, variable one-hot-encoding, dedicado a administración pública.
    * <span style="color:DarkGoldenrod;">"has_secondary_use_use_police"</span>, variable one-hot-encoding, dedicado a policia/fuerzas del orden.
    * <span style="color:DarkGoldenrod;">"has_secondary_use_other"</span>, variable one-hot-encoding, dedicado a otros usos no residenciales.
<br><br>
* **<span style="color:Crimson;">"household_demographics.csv"</span>**, con los tipos de propiedad y uso destinado del inmueble. Sus variables son:
    * <span style="color:DarkGoldenrod;">"household_id""</span>, que contiene el identificador único del titular del derecho de uso (propietario/arrendatario).
    * <span style="color:DarkGoldenrod;">"district_id", "vdcmun_id" y "ward_id"</span>, que contienen datos de localización del edificio/vivienda.
    * <span style="color:DarkGoldenrod;">"gender_household_head"</span>, sexo del titular (el cabeza de familia).
    * <span style="color:DarkGoldenrod;">"age_household_head"</span>, edad del cabeza de fal¡milia.
    * <span style="color:DarkGoldenrod;">"caste_household"</span>, casta social del cabeza de familia.
    * <span style="color:DarkGoldenrod;">"has_secondary_use_agriculture"</span>, variable one-hot-encoding, dedicado a agricultura.
    * <span style="color:DarkGoldenrod;">"has_secondary_use_hotel"</span>, variable one-hot-encoding, dedicado a hotel.
    * <span style="color:DarkGoldenrod;">"has_secondary_use_rental"</span>, variable one-hot-encoding, dedicado a alquiler.
    * <span style="color:DarkGoldenrod;">"has_secondary_use_institution"</span>, variable one-hot-encoding, dedicado a institucional.
</details>

#### <span style="color:CornflowerBlue;">Instalación</span> opcional de librerías. Si no las tienes instaladas, debes descomentar este código y ejecutar la celda.

In [1]:
# !pip install patool

#### <span style="color:CornflowerBlue;">Comenzaremos</span> por cargar las librerías necesarias.

In [2]:
import pandas as pd
import patoolib
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

#### <span style="color:CornflowerBlue;">Configuración</span> del visualizador de Pandas

Primero ajustaremos las opciones visualización de Pandas. Podemos quitar o cambiar el límite de visualización de las columnas y filas que se muestran al llamar al dataset para visualizarlo:

In [3]:
# Revisamos cuántas columnas se visualizan por defecto del dataframe:
pd.get_option("display.max_columns")

# Cambiamos la opción de visualización de Pandas para poder ver todas las columnas:
pd.set_option("display.max_columns", None)

# Podemos también cambiar cuántas filas se visualizarán por defecto, pero en este caso no lo haremos
# ya que hay más de 762.000 filas.
# pd.set_option("display.max_rows", None)

# También podemos alterar el ancho máximo de cada columna:
# pd.set_option("display.max_colwidth", 200)

# Y alterar el número de decimales mostrados para visualizar los números reales completos:
# pd.set_option("display.precision", 15)

# Y alterar el ancho de las columnas cuando usamos .info()
pd.set_option("display.max_info_columns", 200)

#### <span style="color:CornflowerBlue;">Descompresión</span> de los datasets:

Es <span style="color:red;">obligatorio</span> haber clonado el repositorio localmente y descomprimir el archivo "/data/archive.zip" antes de ejecutar el código del resto del notebook.  
Lo hacemos ejecutando este código. Debería funcionar sin problemas en sistemas Linux/Unix y MacOS. Si tienes problemas, revisa el formato del path del archivo, o descomprime a mano  
los archivos directamente en el directorio del zip.

In [4]:
file_path = "./data/archive.zip"
patoolib.extract_archive(file_path, outdir="./data/")

INFO patool: Extracting ./data/archive.zip ...
INFO patool: ... ./data/archive.zip extracted to `./data/'.

'./data/'

#### <span style="color:CornflowerBlue;">Importamos</span> los datasets y hacemos una inspección básica de cada uno.

##### Dataset de características estructurales de la construcción: <span style="color:DarkGoldenrod;">"csv_building_structure.csv"</span>:

In [5]:
# Usaremos Pandas para cargar los datasets:
structure = pd.read_csv("./data/csv_building_structure.csv")

In [6]:
# Revisamos las primeras líneas:
structure.head()

,building_id,district_id,vdcmun_id,ward_id,count_floors_pre_eq,count_floors_post_eq,age_building,plinth_area_sq_ft,height_ft_pre_eq,height_ft_post_eq,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,condition_post_eq,damage_grade,technical_solution_proposed
0,120101000011,12,1207,120703,1,1,9,288,9,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Damaged-Used in risk,Grade 3,Major repair
1,120101000021,12,1207,120703,1,1,15,364,9,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Damaged-Repaired and used,Grade 5,Reconstruction
2,120101000031,12,1207,120703,1,1,20,384,9,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Damaged-Repaired and used,Grade 2,Minor repair
3,120101000041,12,1207,120703,1,1,20,312,9,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Damaged-Repaired and used,Grade 2,Minor repair
4,120101000051,12,1207,120703,1,1,30,308,9,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Damaged-Repaired and used,Grade 1,Minor repair

In [7]:
structure.shape

(762106, 31)

In [8]:
structure.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 762106 entries, 0 to 762105
Data columns (total 31 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             762106 non-null  int64
 1   district_id                             762106 non-null  int64
 2   vdcmun_id                               762106 non-null  int64
 3   ward_id                                 762106 non-null  int64
 4   count_floors_pre_eq                     762106 non-null  int64
 5   count_floors_post_eq                    762106 non-null  int64
 6   age_building                            762106 non-null  int64
 7   plinth_area_sq_ft                       762106 non-null  int64
 8   height_ft_pre_eq                        762106 non-null  int64
 9   height_ft_post_eq                       762106 non-null  int64
 10  land_surface_condition                  762106 non-null  object
 11  foundation_type                         762106 non-null  object
 12  roof_type                               762106 non-null  object
 13  ground_floor_type                       762106 non-null  object
 14  other_floor_type                        762106 non-null  object
 15  position                                762105 non-null  object
 16  plan_configuration                      762105 non-null  object
 17  has_superstructure_adobe_mud            762106 non-null  int64
 18  has_superstructure_mud_mortar_stone     762106 non-null  int64
 19  has_superstructure_stone_flag           762106 non-null  int64
 20  has_superstructure_cement_mortar_stone  762106 non-null  int64
 21  has_superstructure_mud_mortar_brick     762106 non-null  int64
 22  has_superstructure_cement_mortar_brick  762106 non-null  int64
 23  has_superstructure_timber               762106 non-null  int64
 24  has_superstructure_bamboo               762106 non-null  int64
 25  has_superstructure_rc_non_engineered    762106 non-null  int64
 26  has_superstructure_rc_engineered        762106 non-null  int64
 27  has_superstructure_other                762106 non-null  int64
 28  condition_post_eq                       762106 non-null  object
 29  damage_grade                            762094 non-null  object
 30  technical_solution_proposed             762094 non-null  object
dtypes: int64(21), object(10)
memory usage: 180.2+ MB

In [9]:
structure.describe(include="all")

,building_id,district_id,vdcmun_id,ward_id,count_floors_pre_eq,count_floors_post_eq,age_building,plinth_area_sq_ft,height_ft_pre_eq,height_ft_post_eq,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,condition_post_eq,damage_grade,technical_solution_proposed
count,7.621060e+05,762106.000000,762106.000000,762106.000000,762106.000000,762106.000000,762106.000000,762106.000000,762106.000000,762106.000000,762106,762106,762106,762106,762106,762105,762105,762106.000000,762106.000000,762106.000000,762106.000000,762106.000000,762106.000000,762106.000000,762106.000000,762106.000000,762106.000000,762106.000000,762106,762094,762094
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,5,3,5,4,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,5,4
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Damaged-Not used,Grade 5,Reconstruction
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,631675,628716,503748,618217,486907,604453,731257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,207968,275766,470219
mean,2.607514e+11,25.767835,2582.688357,258274.277335,2.087783,1.252058,24.326405,406.672576,16.049372,9.868817,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.042401,0.800271,0.035121,0.015815,0.022961,0.071525,0.258766,0.080482,0.039794,0.016386,0.012026,NaN,NaN,NaN
std,5.801855e+10,5.807555,581.172767,58117.348412,0.655101,1.063275,65.043704,226.779371,5.493878,8.574169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.201502,0.399797,0.184086,0.124761,0.149780,0.257701,0.437957,0.272039,0.195474,0.126955,0.109001,NaN,NaN,NaN
min,1.201010e+11,12.000000,1201.000000,120101.000000,1.000000,0.000000,0.000000,70.000000,6.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
25%,2.219090e+11,22.000000,2204.000000,220402.000000,2.000000,0.000000,9.000000,280.000000,12.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
50%,2.463020e+11,24.000000,2410.000000,241004.000000,2.000000,1.000000,16.000000,358.000000,16.000000,11.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
75%,3.036080e+11,30.000000,3010.000000,301006.000000,2.000000,2.000000,27.000000,470.000000,18.000000,16.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
max,3.667090e+11,36.000000,3611.000000,361108.000000,9.000000,9.000000,999.000000,5000.000000,99.000000,99.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN

##### Dataset del análisis detallado de los daños: <span style="color:DarkGoldenrod;">"csv_building_damage_assessment.csv"</span>:

In [10]:
damage = pd.read_csv("./data/csv_building_damage_assessment.csv", low_memory=False)

In [11]:
damage.head()

,building_id,district_id,vdcmun_id,ward_id,damage_overall_collapse,damage_overall_leaning,damage_overall_adjacent_building_risk,damage_foundation_severe,damage_foundation_moderate,damage_foundation_insignificant,damage_roof_severe,damage_roof_moderate,damage_roof_insignificant,damage_corner_separation_severe,damage_corner_separation_moderate,damage_corner_separation_insignificant,damage_diagonal_cracking_severe,damage_diagonal_cracking_moderate,damage_diagonal_cracking_insignificant,damage_in_plane_failure_severe,damage_in_plane_failure_moderate,damage_in_plane_failure_insignificant,damage_out_of_plane_failure_severe,damage_out_of_plane_failure_moderate,damage_out_of_plane_failure_insignificant,damage_out_of_plane_failure_walls_ncfr_severe,damage_out_of_plane_failure_walls_ncfr_moderate,damage_out_of_plane_failure_walls_ncfr_insignificant,damage_gable_failure_severe,damage_gable_failure_moderate,damage_gable_failure_insignificant,damage_delamination_failure_severe,damage_delamination_failure_moderate,damage_delamination_failure_insignificant,damage_column_failure_severe,damage_column_failure_moderate,damage_column_failure_insignificant,damage_beam_failure_severe,damage_beam_failure_moderate,damage_beam_failure_insignificant,damage_infill_partition_failure_severe,damage_infill_partition_failure_moderate,damage_infill_partition_failure_insignificant,damage_staircase_severe,damage_staircase_moderate,damage_staircase_insignificant,damage_parapet_severe,damage_parapet_moderate,damage_parapet_insignificant,damage_cladding_glazing_severe,damage_cladding_glazing_moderate,damage_cladding_glazing_insignificant,area_assesed,damage_grade,technical_solution_proposed,has_repair_started,has_damage_foundation,has_damage_roof,has_damage_corner_separation,has_damage_diagonal_cracking,has_damage_in_plane_failure,has_damage_out_of_plane_failure,has_damage_out_of_plane_walls_ncfr_failure,has_damage_gable_failure,has_damage_delamination_failure,has_damage_column_failure,has_damage_beam_failure,has_damage_infill_partition_failure,has_damage_staircase,has_damage_parapet,has_damage_cladding_glazing,has_geotechnical_risk,has_geotechnical_risk_land_settlement,has_geotechnical_risk_fault_crack,has_geotechnical_risk_liquefaction,has_geotechnical_risk_landslide,has_geotechnical_risk_rock_fall,has_geotechnical_risk_flood,has_geotechnical_risk_other
0,120101000011,12,1207,120703,Moderate-Heavy,Insignificant/light,NaN,NaN,Moderate-Heavy-(<1/3),Insignificant/light-(<1/3),Severe-Extreme-(<1/3),NaN,Insignificant/light-(>2/3),Severe-Extreme-(>2/3),NaN,NaN,Severe-Extreme-(<1/3),NaN,NaN,Severe-Extreme-(>2/3),NaN,NaN,NaN,Moderate-Heavy-(>2/3),NaN,Severe-Extreme-(>2/3),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Both,Grade 3,Major repair,0.0,NaN,1.0,1.0,1.0,1.0,NaN,1.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0
1,120101000021,12,1207,120703,Severe-Extreme,Severe-Extreme,Insignificant/light,Severe-Extreme-(>2/3),NaN,NaN,Severe-Extreme-(>2/3),NaN,NaN,Severe-Extreme-(>2/3),NaN,NaN,Severe-Extreme-(>2/3),NaN,NaN,Severe-Extreme-(>2/3),NaN,NaN,Severe-Extreme-(>2/3),NaN,NaN,Severe-Extreme-(>2/3),NaN,NaN,NaN,NaN,NaN,Severe-Extreme-(>2/3),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Exterior,Grade 5,Reconstruction,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0
2,120101000031,12,1207,120703,Moderate-Heavy,Moderate-Heavy,Moderate-Heavy,NaN,Moderate-Heavy-(>2/3),NaN,NaN,Moderate-Heavy-(>2/3),NaN,NaN,Moderate-Heavy-(>2/3),NaN,NaN,Moderate-Heavy-(>2/3),NaN,NaN,Moderate-Heavy-(>2/3),NaN,NaN,Moderate-Heavy-(>2/3),NaN,NaN,Moderate-Heavy-(>2/3),NaN,NaN,Moderate-Heavy-(>2/3),NaN,NaN,NaN,Insignificant/light-(1/3-2/3),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Both,Grade 2,Minor repair,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0,0,0,0,0,0,0
3,120101000041,12,1207,120703,Moderate-Heavy,Moderate-Heavy,Moderate-Heavy,NaN,Moderate-Heavy-(>2/3),NaN,NaN,Moderate-Heavy-(>2/3),NaN,NaN,Moderate-Heavy-(>2/3),NaN,NaN,Moderate-Heavy-(>2/3),NaN,NaN,Moderate-Heavy-(>2/3),NaN,NaN,Moderate-Heavy-(>2/3),NaN,NaN,Moderate-Heavy-(>2/3),NaN,NaN,NaN,Insignificant/light-(<1/3),NaN,NaN,Insignificant/light-(1/3-2/3),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Moderate-Heavy-(>2/3),NaN,NaN,NaN,NaN,NaN,NaN,NaN,Both,Grade 2,Minor repair,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0,0,0,0,0,0,0
4,120101000051,12,1207,120703,Insignificant/light,NaN,NaN,NaN,NaN,Insignificant/light-(<1/3),NaN,NaN,Insignificant/light-(<1/3),NaN,NaN,Insignificant/light-(<1/3),NaN,NaN,Insignificant/light-(<1/3),NaN,NaN,Insignificant/light-(<1/3),NaN,NaN,Insignificant/light-(<1/3),NaN,NaN,Insignificant/light-(<1/3),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Exterior,Grade 1,Minor repair,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0

In [12]:
damage.shape

(762106, 79)

In [13]:
damage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 762106 entries, 0 to 762105
Data columns (total 79 columns):
 #   Column                                                Non-Null Count   Dtype
---  ------                                                --------------   -----
 0   building_id                                           762106 non-null  int64
 1   district_id                                           762106 non-null  int64
 2   vdcmun_id                                             762106 non-null  int64
 3   ward_id                                               762106 non-null  int64
 4   damage_overall_collapse                               428934 non-null  object
 5   damage_overall_leaning                                270616 non-null  object
 6   damage_overall_adjacent_building_risk                 105527 non-null  object
 7   damage_foundation_severe                              53631 non-null   object
 8   damage_foundation_moderate                            103606 non-null  object
 9   damage_foundation_insignificant                       174902 non-null  object
 10  damage_roof_severe                                    123026 non-null  object
 11  damage_roof_moderate                                  148098 non-null  object
 12  damage_roof_insignificant                             181707 non-null  object
 13  damage_corner_separation_severe                       157789 non-null  object
 14  damage_corner_separation_moderate                     193226 non-null  object
 15  damage_corner_separation_insignificant                164735 non-null  object
 16  damage_diagonal_cracking_severe                       120101 non-null  object
 17  damage_diagonal_cracking_moderate                     188007 non-null  object
 18  damage_diagonal_cracking_insignificant                174462 non-null  object
 19  damage_in_plane_failure_severe                        112927 non-null  object
 20  damage_in_plane_failure_moderate                      178581 non-null  object
 21  damage_in_plane_failure_insignificant                 177192 non-null  object
 22  damage_out_of_plane_failure_severe                    120773 non-null  object
 23  damage_out_of_plane_failure_moderate                  166626 non-null  object
 24  damage_out_of_plane_failure_insignificant             158131 non-null  object
 25  damage_out_of_plane_failure_walls_ncfr_severe         89061 non-null   object
 26  damage_out_of_plane_failure_walls_ncfr_moderate       137890 non-null  object
 27  damage_out_of_plane_failure_walls_ncfr_insignificant  147051 non-null  object
 28  damage_gable_failure_severe                           117659 non-null  object
 29  damage_gable_failure_moderate                         99057 non-null   object
 30  damage_gable_failure_insignificant                    102369 non-null  object
 31  damage_delamination_failure_severe                    62909 non-null   object
 32  damage_delamination_failure_moderate                  105849 non-null  object
 33  damage_delamination_failure_insignificant             136721 non-null  object
 34  damage_column_failure_severe                          1598 non-null    object
 35  damage_column_failure_moderate                        2723 non-null    object
 36  damage_column_failure_insignificant                   8160 non-null    object
 37  damage_beam_failure_severe                            1209 non-null    object
 38  damage_beam_failure_moderate                          2538 non-null    object
 39  damage_beam_failure_insignificant                     8774 non-null    object
 40  damage_infill_partition_failure_severe                3412 non-null    object
 41  damage_infill_partition_failure_moderate              6693 non-null    object
 42  damage_infill_partition_failure_insignificant         14990 non-null   object
 43  damage_staircase_severe                               17346 non-null   object
 44  damage_staircase_moderate                             27433 non-null   object
 45  damage_staircase_insignificant                        78638 non-null   object
 46  damage_parapet_severe                                 12564 non-null   object
 47  damage_parapet_moderate                               18489 non-null   object
 48  damage_parapet_insignificant                          36650 non-null   object
 49  damage_cladding_glazing_severe                        5856 non-null    object
 50  damage_cladding_glazing_moderate                      11560 non-null   object
 51  damage_cladding_glazing_insignificant                 28651 non-null   object
 52  area_assesed                                          762094 non-null  object
 53  damage_grade                                          762094 non-null  object
 54  technical_solution_proposed                           762094 non-null  object
 55  has_repair_started                                    710239 non-null  float64
 56  has_damage_foundation                                 273438 non-null  float64
 57  has_damage_roof                                       247305 non-null  float64
 58  has_damage_corner_separation                          248499 non-null  float64
 59  has_damage_diagonal_cracking                          228081 non-null  float64
 60  has_damage_in_plane_failure                           216174 non-null  float64
 61  has_damage_out_of_plane_failure                       240990 non-null  float64
 62  has_damage_out_of_plane_walls_ncfr_failure            258241 non-null  float64
 63  has_damage_gable_failure                              325287 non-null  float64
 64  has_damage_delamination_failure                       286523 non-null  float64
 65  has_damage_column_failure                             29940 non-null   float64
 66  has_damage_beam_failure                               29238 non-null   float64
 67  has_damage_infill_partition_failure                   21554 non-null   float64
 68  has_damage_staircase                                  401738 non-null  float64
 69  has_damage_parapet                                    451732 non-null  float64
 70  has_damage_cladding_glazing                           465001 non-null  float64
 71  has_geotechnical_risk                                 762094 non-null  float64
 72  has_geotechnical_risk_land_settlement                 762106 non-null  int64
 73  has_geotechnical_risk_fault_crack                     762106 non-null  int64
 74  has_geotechnical_risk_liquefaction                    762106 non-null  int64
 75  has_geotechnical_risk_landslide                       762106 non-null  int64
 76  has_geotechnical_risk_rock_fall                       762106 non-null  int64
 77  has_geotechnical_risk_flood                           762106 non-null  int64
 78  has_geotechnical_risk_other                           762106 non-null  int64
dtypes: float64(17), int64(11), object(51)
memory usage: 459.3+ MB

In [14]:
damage.describe(include="all")

,building_id,district_id,vdcmun_id,ward_id,damage_overall_collapse,damage_overall_leaning,damage_overall_adjacent_building_risk,damage_foundation_severe,damage_foundation_moderate,damage_foundation_insignificant,damage_roof_severe,damage_roof_moderate,damage_roof_insignificant,damage_corner_separation_severe,damage_corner_separation_moderate,damage_corner_separation_insignificant,damage_diagonal_cracking_severe,damage_diagonal_cracking_moderate,damage_diagonal_cracking_insignificant,damage_in_plane_failure_severe,damage_in_plane_failure_moderate,damage_in_plane_failure_insignificant,damage_out_of_plane_failure_severe,damage_out_of_plane_failure_moderate,damage_out_of_plane_failure_insignificant,damage_out_of_plane_failure_walls_ncfr_severe,damage_out_of_plane_failure_walls_ncfr_moderate,damage_out_of_plane_failure_walls_ncfr_insignificant,damage_gable_failure_severe,damage_gable_failure_moderate,damage_gable_failure_insignificant,damage_delamination_failure_severe,damage_delamination_failure_moderate,damage_delamination_failure_insignificant,damage_column_failure_severe,damage_column_failure_moderate,damage_column_failure_insignificant,damage_beam_failure_severe,damage_beam_failure_moderate,damage_beam_failure_insignificant,damage_infill_partition_failure_severe,damage_infill_partition_failure_moderate,damage_infill_partition_failure_insignificant,damage_staircase_severe,damage_staircase_moderate,damage_staircase_insignificant,damage_parapet_severe,damage_parapet_moderate,damage_parapet_insignificant,damage_cladding_glazing_severe,damage_cladding_glazing_moderate,damage_cladding_glazing_insignificant,area_assesed,damage_grade,technical_solution_proposed,has_repair_started,has_damage_foundation,has_damage_roof,has_damage_corner_separation,has_damage_diagonal_cracking,has_damage_in_plane_failure,has_damage_out_of_plane_failure,has_damage_out_of_plane_walls_ncfr_failure,has_damage_gable_failure,has_damage_delamination_failure,has_damage_column_failure,has_damage_beam_failure,has_damage_infill_partition_failure,has_damage_staircase,has_damage_parapet,has_damage_cladding_glazing,has_geotechnical_risk,has_geotechnical_risk_land_settlement,has_geotechnical_risk_fault_crack,has_geotechnical_risk_liquefaction,has_geotechnical_risk_landslide,has_geotechnical_risk_rock_fall,has_geotechnical_risk_flood,has_geotechnical_risk_other
count,7.621060e+05,762106.000000,762106.000000,762106.000000,428934,270616,105527,53631,103606,174902,123026,148098,181707,157789,193226,164735,120101,188007,174462,112927,178581,177192,120773,166626,158131,89061,137890,147051,117659,99057,102369,62909,105849,136721,1598,2723,8160,1209,2538,8774,3412,6693,14990,17346,27433,78638,12564,18489,36650,5856,11560,28651,762094,762094,762094,710239.000000,273438.000000,247305.000000,248499.000000,228081.000000,216174.000000,240990.000000,258241.000000,325287.000000,286523.000000,29940.000000,29238.000000,21554.000000,401738.000000,451732.000000,465001.000000,762094.000000,762106.000000,762106.000000,762106.000000,762106.000000,762106.000000,762106.000000,762106.000000
unique,NaN,NaN,NaN,NaN,3,3,3,2,2,3,2,2,3,2,2,3,2,2,3,2,2,3,2,2,3,2,2,3,2,2,3,2,2,3,2,2,3,2,2,3,2,2,3,2,2,3,2,2,3,2,2,3,5,5,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,Moderate-Heavy,Insignificant/light,Insignificant/light,Severe-Extreme-(>2/3),Moderate-Heavy-(>2/3),Insignificant/light-(<1/3),Severe-Extreme-(>2/3),Moderate-Heavy-(>2/3),Insignificant/light-(<1/3),Severe-Extreme-(>2/3),Moderate-Heavy-(>2/3),Insignificant/light-(<1/3),Severe-Extreme-(>2/3),Moderate-Heavy-(>2/3),Insignificant/light-(<1/3),Severe-Extreme-(>2/3),Moderate-Heavy-(>2/3),Insignificant/light-(<1/3),Severe-Extreme-(>2/3),Moderate-Heavy-(>2/3),Insignificant/light-(<1/3),Severe-Extreme-(>2/3),Moderate-Heavy-(>2/3),Insignificant/light-(<1/3),Severe-Extreme-(>2/3),Moderate-Heavy-(>2/3),Insignificant/light-(<1/3),Severe-Extreme-(>2/3),Moderate-Heavy-(>2/3),Insignificant/light-(<1/3),Severe-Extreme-(<1/3),Moderate-Heavy-(<1/3),Insignificant/light-(<1/3),Severe-Extreme-(>2/3),Moderate-Heavy-(<1/3),Insignificant/light-(<1/3),Severe-Extreme-(>2/3),Moderate-Heavy-(<1/3),Insignificant/light-(<1/3),Severe-Extreme-(>2/3),Moderate-Heavy-(>2/3),Insignificant/light-(<1/3),Severe-Extreme-(>2/3),Moderate-Heavy-(>2/3),Insignificant/light-(<1/3),Severe-Extreme-(>2/3),Moderate-Heavy-(>2/3),Insignificant/light-(<1/3),Both,Grade 5,Reconstruction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,205442,154133,53550,29189,53243,89373,78899,80124,88444,92964,111230,73632,66319,108211,75413,62119,101716,79115,71700,97474,70828,51405,80045,67420,84347,55260,46670,33490,56277,64352,910,1882,5417,640,1771,5841,1768,3716,8020,11196,14520,46693,8247,9733,20412,3283,5908,15848,446674,275766,470219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2.607514e+11,25.767835,2582.688357,258274.277335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.242099,0.265234,0.497467,0.634968,0.526572,0.522389,0.501154,0.344876,0.710649,0.425177,0.053373,0.041350,0.158300,0.371361,0.681716,0.706773,0.143876,0.038119,0.053205,0.002795,0.080138,0.041980,0.011719,0.001069
std,5.801855e+10,5.807555,581.172767,58117.348412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.428354,0.441458,0.499995,0.481440,0.499295,0.499500,0.500000,0.475329,0.453462,0.494371,0.224781,0.199103,0.365031,0.483169,0.465811,0.455242,0.350964,0.191485,0.224443,0.052793,0.271508,0.200543,0.107617,0.032684
min,1.201010e+11,12.000000,1201.000000,120101.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.219090e+11,22.000000,2204.000000,220402.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.463020e+11,24.000000,2410.000000,241004.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,3.036080e+11,30.000000,3010.000000,301006.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,3.667090e+11,36.000000,3611.000000,361108.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

##### Dataset de propiedad y uso dedicado del inmueble: <span style="color:DarkGoldenrod;">"csv_building_ownership_and_use.csv"</span>:

In [15]:
ownership = pd.read_csv("./data/csv_building_ownership_and_use.csv")

In [16]:
ownership.head()

,building_id,district_id,vdcmun_id,ward_id,legal_ownership_status,count_families,has_secondary_use,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,120101000011,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
1,120101000021,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
2,120101000031,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
3,120101000041,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
4,120101000051,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0

In [17]:
ownership.shape

(762106, 17)

In [18]:
ownership.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 762106 entries, 0 to 762105
Data columns (total 17 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   building_id                    762106 non-null  int64
 1   district_id                    762106 non-null  int64
 2   vdcmun_id                      762106 non-null  int64
 3   ward_id                        762106 non-null  int64
 4   legal_ownership_status         762106 non-null  object
 5   count_families                 762104 non-null  float64
 6   has_secondary_use              762096 non-null  float64
 7   has_secondary_use_agriculture  762106 non-null  int64
 8   has_secondary_use_hotel        762106 non-null  int64
 9   has_secondary_use_rental       762106 non-null  int64
 10  has_secondary_use_institution  762106 non-null  int64
 11  has_secondary_use_school       762106 non-null  int64
 12  has_secondary_use_industry     762106 non-null  int64
 13  has_secondary_use_health_post  762106 non-null  int64
 14  has_secondary_use_gov_office   762106 non-null  int64
 15  has_secondary_use_use_police   762106 non-null  int64
 16  has_secondary_use_other        762106 non-null  int64
dtypes: float64(2), int64(14), object(1)
memory usage: 98.8+ MB

In [19]:
ownership.describe(include="all")

,building_id,district_id,vdcmun_id,ward_id,legal_ownership_status,count_families,has_secondary_use,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
count,7.621060e+05,762106.000000,762106.000000,762106.000000,762106,762104.00000,762096.000000,762106.000000,762106.000000,762106.000000,762106.000000,762106.000000,762106.000000,762106.000000,762106.000000,762106.000000,762106.000000
unique,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,731387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2.607514e+11,25.767835,2582.688357,258274.277335,NaN,0.98066,0.121197,0.071859,0.035090,0.008264,0.001161,0.000424,0.001164,0.000227,0.000186,0.000097,0.004490
std,5.801855e+10,5.807555,581.172767,58117.348412,NaN,0.45021,0.326357,0.258254,0.184006,0.090530,0.034057,0.020583,0.034096,0.015065,0.013649,0.009853,0.066858
min,1.201010e+11,12.000000,1201.000000,120101.000000,NaN,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.219090e+11,22.000000,2204.000000,220402.000000,NaN,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.463020e+11,24.000000,2410.000000,241004.000000,NaN,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,3.036080e+11,30.000000,3010.000000,301006.000000,NaN,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,3.667090e+11,36.000000,3611.000000,361108.000000,NaN,11.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

##### Dataset de datos demográficos de los propietarios: <span style="color:DarkGoldenrod;">"csv_household_demographics.csv"</span>:

In [20]:
demographics = pd.read_csv("./data/csv_household_demographics.csv")

In [21]:
demographics.head()

,household_id,district_id,vdcmun_id,ward_id,gender_household_head,age_household_head,caste_household,education_level_household_head,income_level_household,size_household,is_bank_account_present_in_household
0,12010100001101,12,1207,120703,Male,31.0,Rai,Illiterate,Rs. 10 thousand,3.0,0.0
1,12010100002101,12,1207,120703,Female,62.0,Rai,Illiterate,Rs. 10 thousand,6.0,0.0
2,12010100003101,12,1207,120703,Male,51.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand,13.0,0.0
3,12010100004101,12,1207,120703,Male,48.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand,5.0,0.0
4,12010100005101,12,1207,120703,Male,70.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand,8.0,0.0

In [22]:
demographics.shape

(747365, 11)

In [23]:
demographics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 747365 entries, 0 to 747364
Data columns (total 11 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   household_id                          747365 non-null  int64
 1   district_id                           747365 non-null  int64
 2   vdcmun_id                             747365 non-null  int64
 3   ward_id                               747365 non-null  int64
 4   gender_household_head                 747363 non-null  object
 5   age_household_head                    747363 non-null  float64
 6   caste_household                       747137 non-null  object
 7   education_level_household_head        747137 non-null  object
 8   income_level_household                747137 non-null  object
 9   size_household                        747363 non-null  float64
 10  is_bank_account_present_in_household  747137 non-null  float64
dtypes: float64(3), int64(4), object(4)
memory usage: 62.7+ MB

In [24]:
demographics.describe(include="all")

,household_id,district_id,vdcmun_id,ward_id,gender_household_head,age_household_head,caste_household,education_level_household_head,income_level_household,size_household,is_bank_account_present_in_household
count,7.473650e+05,747365.000000,747365.000000,747365.000000,747363,747363.000000,747137,747137,747137,747363.000000,747137.000000
unique,NaN,NaN,NaN,NaN,2,NaN,96,19,5,NaN,NaN
top,NaN,NaN,NaN,NaN,Male,NaN,Tamang,Illiterate,Rs. 10 thousand,NaN,NaN
freq,NaN,NaN,NaN,NaN,507924,NaN,209075,263157,409102,NaN,NaN
mean,2.607625e+13,25.769283,2582.814776,258286.901431,NaN,46.626690,NaN,NaN,NaN,4.921438,0.196684
std,5.739377e+12,5.744361,574.853109,57485.403626,NaN,15.072183,NaN,NaN,NaN,2.473748,0.397492
min,1.201010e+13,12.000000,1201.000000,120101.000000,NaN,10.000000,NaN,NaN,NaN,1.000000,0.000000
25%,2.222050e+13,22.000000,2204.000000,220405.000000,NaN,34.000000,NaN,NaN,NaN,3.000000,0.000000
50%,2.459040e+13,24.000000,2409.000000,240911.000000,NaN,46.000000,NaN,NaN,NaN,5.000000,0.000000
75%,3.035070e+13,30.000000,3010.000000,301003.000000,NaN,57.000000,NaN,NaN,NaN,6.000000,0.000000
max,3.667090e+13,36.000000,3611.000000,361108.000000,NaN,122.000000,NaN,NaN,NaN,40.000000,1.000000

##### Dataset de infraestructura y servicios en los inmuebles y del propietario: <span style="color:DarkGoldenrod;">"csv_household_resources.csv"</span>:

In [25]:
resources = pd.read_csv("./data/csv_household_resources.csv")

In [26]:
resources

,household_id,district_id,vdcmun_id,ward_id,source_water_pre_eq,source_water_post_eq,source_cooking_fuel_pre_eq,source_cooking_fuel_post_eq,source_light_pre_eq,source_light_post_eq,type_toilet_pre_eq,type_toilet_post_eq,has_asset_land_pre_eq,has_asset_tv_pre_eq,has_asset_cable_pre_eq,has_asset_computer_pre_eq,has_asset_internet_pre_eq,has_asset_telephone_pre_eq,has_asset_mobile_phone_pre_eq,has_asset_fridge_pre_eq,has_asset_motorcycle_pre_eq,has_asset_four_wheeler_family_use_pre_eq,has_asset_four_wheeler_commercial_use_pre_eq,has_asset_none_pre_eq,has_asset_land_post_eq,has_asset_tv_post_eq,has_asset_cable_post_eq,has_asset_computer_post_eq,has_asset_internet_post_eq,has_asset_telephone_post_eq,has_asset_mobile_phone_post_eq,has_asset_fridge_post_eq,has_asset_motorcycle_post_eq,has_asset_four_wheeler_family_use_post_eq,has_asset_four_wheeler_commercial_post_eq,has_asset_none_post_eq
0,12010100001101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,Simple,Simple,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
1,12010100002101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,Simple,Simple,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
2,12010100003101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,Simple,Simple,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
3,12010100004101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,Simple,Simple,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
4,12010100005101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,Simple,Flush-out lavatory with septic tank,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747360,36670900124101,36,3603,360302,Spring,Spring,Wood,Wood,Electricity,Solar,No toilet,No toilet,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
747361,36670900125101,36,3603,360302,Spring,Spring,Wood,Wood,Electricity,Solar,No toilet,No toilet,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
747362,36670900126101,36,3603,360302,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,Flush-out lavatory connected to public sewage ...,Flush-out lavatory connected to public sewage ...,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
747363,36670900127101,36,3603,360302,Spring,Spring,Wood,Wood,Electricity,Solar,Flush-out lavatory with septic tank,Flush-out lavatory with septic tank,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
747364,36670900128101,36,3603,360302,Pipeline,Spring,Wood,Wood,Electricity,Solar,No toilet,No toilet,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0

In [27]:
resources.shape

(747365, 36)

In [28]:
resources.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 747365 entries, 0 to 747364
Data columns (total 36 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   household_id                                  747365 non-null  int64
 1   district_id                                   747365 non-null  int64
 2   vdcmun_id                                     747365 non-null  int64
 3   ward_id                                       747365 non-null  int64
 4   source_water_pre_eq                           747137 non-null  object
 5   source_water_post_eq                          747137 non-null  object
 6   source_cooking_fuel_pre_eq                    747137 non-null  object
 7   source_cooking_fuel_post_eq                   747137 non-null  object
 8   source_light_pre_eq                           747137 non-null  object
 9   source_light_post_eq                          747137 non-null  object
 10  type_toilet_pre_eq                            747137 non-null  object
 11  type_toilet_post_eq                           747137 non-null  object
 12  has_asset_land_pre_eq                         747365 non-null  int64
 13  has_asset_tv_pre_eq                           747365 non-null  int64
 14  has_asset_cable_pre_eq                        747365 non-null  int64
 15  has_asset_computer_pre_eq                     747365 non-null  int64
 16  has_asset_internet_pre_eq                     747365 non-null  int64
 17  has_asset_telephone_pre_eq                    747365 non-null  int64
 18  has_asset_mobile_phone_pre_eq                 747365 non-null  int64
 19  has_asset_fridge_pre_eq                       747365 non-null  int64
 20  has_asset_motorcycle_pre_eq                   747365 non-null  int64
 21  has_asset_four_wheeler_family_use_pre_eq      747365 non-null  int64
 22  has_asset_four_wheeler_commercial_use_pre_eq  747365 non-null  int64
 23  has_asset_none_pre_eq                         747365 non-null  int64
 24  has_asset_land_post_eq                        747365 non-null  int64
 25  has_asset_tv_post_eq                          747365 non-null  int64
 26  has_asset_cable_post_eq                       747365 non-null  int64
 27  has_asset_computer_post_eq                    747365 non-null  int64
 28  has_asset_internet_post_eq                    747365 non-null  int64
 29  has_asset_telephone_post_eq                   747365 non-null  int64
 30  has_asset_mobile_phone_post_eq                747365 non-null  int64
 31  has_asset_fridge_post_eq                      747365 non-null  int64
 32  has_asset_motorcycle_post_eq                  747365 non-null  int64
 33  has_asset_four_wheeler_family_use_post_eq     747365 non-null  int64
 34  has_asset_four_wheeler_commercial_post_eq     747365 non-null  int64
 35  has_asset_none_post_eq                        747365 non-null  int64
dtypes: int64(28), object(8)
memory usage: 205.3+ MB

In [29]:
resources.describe(include="all")

,household_id,district_id,vdcmun_id,ward_id,source_water_pre_eq,source_water_post_eq,source_cooking_fuel_pre_eq,source_cooking_fuel_post_eq,source_light_pre_eq,source_light_post_eq,type_toilet_pre_eq,type_toilet_post_eq,has_asset_land_pre_eq,has_asset_tv_pre_eq,has_asset_cable_pre_eq,has_asset_computer_pre_eq,has_asset_internet_pre_eq,has_asset_telephone_pre_eq,has_asset_mobile_phone_pre_eq,has_asset_fridge_pre_eq,has_asset_motorcycle_pre_eq,has_asset_four_wheeler_family_use_pre_eq,has_asset_four_wheeler_commercial_use_pre_eq,has_asset_none_pre_eq,has_asset_land_post_eq,has_asset_tv_post_eq,has_asset_cable_post_eq,has_asset_computer_post_eq,has_asset_internet_post_eq,has_asset_telephone_post_eq,has_asset_mobile_phone_post_eq,has_asset_fridge_post_eq,has_asset_motorcycle_post_eq,has_asset_four_wheeler_family_use_post_eq,has_asset_four_wheeler_commercial_post_eq,has_asset_none_post_eq
count,7.473650e+05,747365.000000,747365.000000,747365.000000,747137,747137,747137,747137,747137,747137,747137,747137,747365.000000,747365.000000,747365.000000,747365.000000,747365.000000,747365.000000,747365.000000,747365.000000,747365.000000,747365.000000,747365.000000,747365.000000,747365.000000,747365.000000,747365.000000,747365.000000,747365.000000,747365.000000,747365.000000,747365.000000,747365.000000,747365.000000,747365.000000,747365.000000
unique,NaN,NaN,NaN,NaN,7,7,6,6,6,6,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,Flush-out lavatory with septic tank,Flush-out lavatory with septic tank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,608041,595288,657854,656207,636793,617077,402996,344246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2.607625e+13,25.769283,2582.814776,258286.901431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.953285,0.308438,0.261637,0.047059,0.056616,0.023919,0.844282,0.050208,0.063822,0.002866,0.007035,0.006289,0.950798,0.269630,0.242623,0.044823,0.056699,0.022694,0.841673,0.048967,0.064999,0.002742,0.006918,0.006524
std,5.739377e+12,5.744361,574.853109,57485.403626,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.211027,0.461849,0.439526,0.211765,0.231108,0.152796,0.362588,0.218375,0.244435,0.053459,0.083582,0.079052,0.216290,0.443768,0.428669,0.206915,0.231267,0.148927,0.365048,0.215799,0.246524,0.052289,0.082884,0.080509
min,1.201010e+13,12.000000,1201.000000,120101.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.222050e+13,22.000000,2204.000000,220405.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.459040e+13,24.000000,2409.000000,240911.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,3.035070e+13,30.000000,3010.000000,301003.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,3.667090e+13,36.000000,3611.000000,361108.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

##### Dataset de datos personales de la unidad familiar del propietario: <span style="color:DarkGoldenrod;">"csv_individual_demographics.csv"</span>:

In [30]:
individuals = pd.read_csv("./data/csv_individual_demographics.csv")

In [31]:
individuals.head()

,individual_id,district_id,vdcmun_id,ward_id,gender_individual,age_individual,presence_in_household,disability_individual,has_registered_birth,education_level_individual,marital_status_individual
0,12010100001101001,12,1207,120703,Male,31,Mostly Present,No,NaN,Illiterate,Married
1,12010100001101002,12,1207,120703,Female,58,Mostly Present,No,NaN,Illiterate,Married
2,12010100001101003,12,1207,120703,Male,15,Mostly Present,No,NaN,Class 7,Not Married
3,12010100002101001,12,1207,120703,Female,62,Mostly Present,No,NaN,Illiterate,Widow/Widower
4,12010100002101002,12,1207,120703,Male,23,Not present-Abroad,No,NaN,Class 6,Married

In [32]:
individuals.shape

(3677133, 11)

In [33]:
individuals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3677133 entries, 0 to 3677132
Data columns (total 11 columns):
 #   Column                      Dtype
---  ------                      -----
 0   individual_id               int64
 1   district_id                 int64
 2   vdcmun_id                   int64
 3   ward_id                     int64
 4   gender_individual           object
 5   age_individual              int64
 6   presence_in_household       object
 7   disability_individual       object
 8   has_registered_birth        float64
 9   education_level_individual  object
 10  marital_status_individual   object
dtypes: float64(1), int64(5), object(5)
memory usage: 308.6+ MB

In [34]:
individuals.describe(include="all")

,individual_id,district_id,vdcmun_id,ward_id,gender_individual,age_individual,presence_in_household,disability_individual,has_registered_birth,education_level_individual,marital_status_individual
count,3.677133e+06,3.677133e+06,3.677133e+06,3.677133e+06,3677133,3.677133e+06,3677133,3676933,371676.000000,3364048,3035432
unique,NaN,NaN,NaN,NaN,3,NaN,4,6,NaN,19,5
top,NaN,NaN,NaN,NaN,Male,NaN,Mostly Present,No,NaN,Illiterate,Married
freq,NaN,NaN,NaN,NaN,1856904,NaN,2891862,3631909,NaN,696927,1803157
mean,2.604800e+16,2.574092e+01,2.579989e+03,2.580043e+05,NaN,2.852758e+01,NaN,NaN,0.528616,NaN,NaN
std,5.790186e+15,5.795969e+00,5.800037e+02,5.800047e+04,NaN,1.989070e+01,NaN,NaN,0.499181,NaN,NaN
min,1.201010e+16,1.200000e+01,1.201000e+03,1.201010e+05,NaN,0.000000e+00,NaN,NaN,0.000000,NaN,NaN
25%,2.216060e+16,2.200000e+01,2.203000e+03,2.203050e+05,NaN,1.300000e+01,NaN,NaN,0.000000,NaN,NaN
50%,2.463010e+16,2.400000e+01,2.410000e+03,2.410040e+05,NaN,2.400000e+01,NaN,NaN,1.000000,NaN,NaN
75%,3.037050e+16,3.000000e+01,3.011000e+03,3.011020e+05,NaN,4.100000e+01,NaN,NaN,1.000000,NaN,NaN
max,3.667090e+16,3.600000e+01,3.611000e+03,3.611080e+05,NaN,1.220000e+02,NaN,NaN,1.000000,NaN,NaN

##### Dataset de consecuencias e impacto social, económico y de salud en los inquilinos: <span style="color:DarkGoldenrod;">"csv_household_earthquake_impact.csv"</span>:

In [35]:
impact = pd.read_csv("./data/csv_household_earthquake_impact.csv")

In [36]:
impact.head()

,household_id,district_id,vdcmun_id,ward_id,shelter_condition_household_post_eq,residence_household_pre_eq,residence_household_post_eq,household_eq_id_type,has_death_occurred_last_12_months,count_death_last_12_months,has_injury_loss_occurred_last_12_months,count_injury_loss_last_12_months,has_education_drop_occurred_last_12_months,count_education_drop_last_12_months,has_pregnancy_treatment_drop_occurred_last_12_months,count_pregnancy_treatment_drop_last_12_months,has_vaccination_drop_occurred_last_12_months,count_vaccination_drop_last_12_months,has_occupation_change_occurred_last_12_months,count_occupation_change_last_12_months,residence_district_household_head_pre_eq,residence_district_household_head_post_eq,is_recipient_rahat_15k,is_recipient_rahat_10k,is_recipient_rahat_200k,is_recipient_rahat_social_security_3k,is_recipient_rahat_none,is_ineligible_rahat
0,12010100001101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,ID Card for Total Destruction,0.0,NaN,0.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,1,1,0,0,0,0
1,12010100002101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,Have not received ID Card,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0,0,0,0,1,0
2,12010100003101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,Have not received ID Card,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0,0,0,0,1,0
3,12010100004101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,Have not received ID Card,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0,0,0,0,1,0
4,12010100005101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,Have not received ID Card,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0,0,0,0,1,0

In [37]:
impact.shape

(747365, 28)

In [38]:
impact.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 747365 entries, 0 to 747364
Data columns (total 28 columns):
 #   Column                                                Non-Null Count   Dtype
---  ------                                                --------------   -----
 0   household_id                                          747365 non-null  int64
 1   district_id                                           747365 non-null  int64
 2   vdcmun_id                                             747365 non-null  int64
 3   ward_id                                               747365 non-null  int64
 4   shelter_condition_household_post_eq                   747137 non-null  object
 5   residence_household_pre_eq                            747137 non-null  object
 6   residence_household_post_eq                           747137 non-null  object
 7   household_eq_id_type                                  747137 non-null  object
 8   has_death_occurred_last_12_months                     747137 non-null  float64
 9   count_death_last_12_months                            17758 non-null   float64
 10  has_injury_loss_occurred_last_12_months               747137 non-null  float64
 11  count_injury_loss_last_12_months                      8472 non-null    float64
 12  has_education_drop_occurred_last_12_months            555162 non-null  float64
 13  count_education_drop_last_12_months                   7976 non-null    float64
 14  has_pregnancy_treatment_drop_occurred_last_12_months  289276 non-null  float64
 15  count_pregnancy_treatment_drop_last_12_months         892 non-null     float64
 16  has_vaccination_drop_occurred_last_12_months          384461 non-null  float64
 17  count_vaccination_drop_last_12_months                 1246 non-null    float64
 18  has_occupation_change_occurred_last_12_months         674751 non-null  float64
 19  count_occupation_change_last_12_months                5205 non-null    float64
 20  residence_district_household_head_pre_eq              24571 non-null   object
 21  residence_district_household_head_post_eq             46145 non-null   object
 22  is_recipient_rahat_15k                                747365 non-null  int64
 23  is_recipient_rahat_10k                                747365 non-null  int64
 24  is_recipient_rahat_200k                               747365 non-null  int64
 25  is_recipient_rahat_social_security_3k                 747365 non-null  int64
 26  is_recipient_rahat_none                               747365 non-null  int64
 27  is_ineligible_rahat                                   747365 non-null  int64
dtypes: float64(12), int64(10), object(6)
memory usage: 159.7+ MB

In [39]:
impact.describe(include="all")

,household_id,district_id,vdcmun_id,ward_id,shelter_condition_household_post_eq,residence_household_pre_eq,residence_household_post_eq,household_eq_id_type,has_death_occurred_last_12_months,count_death_last_12_months,has_injury_loss_occurred_last_12_months,count_injury_loss_last_12_months,has_education_drop_occurred_last_12_months,count_education_drop_last_12_months,has_pregnancy_treatment_drop_occurred_last_12_months,count_pregnancy_treatment_drop_last_12_months,has_vaccination_drop_occurred_last_12_months,count_vaccination_drop_last_12_months,has_occupation_change_occurred_last_12_months,count_occupation_change_last_12_months,residence_district_household_head_pre_eq,residence_district_household_head_post_eq,is_recipient_rahat_15k,is_recipient_rahat_10k,is_recipient_rahat_200k,is_recipient_rahat_social_security_3k,is_recipient_rahat_none,is_ineligible_rahat
count,7.473650e+05,747365.000000,747365.000000,747365.000000,747137,747137,747137,747137,747137.000000,17758.000000,747137.000000,8472.000000,555162.000000,7976.000000,289276.000000,892.000000,384461.000000,1246.000000,674751.000000,5205.000000,24571,46145,747365.000000,747365.000000,747365.0,747365.000000,747365.000000,747365.000000
unique,NaN,NaN,NaN,NaN,5,3,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72,73,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,Temporary shelter,This VDC/Municipality,This VDC/Municipality,ID Card for Total Destruction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kathmandu,Kathmandu,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,389773,718335,691589,548978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20008,37460,NaN,NaN,NaN,NaN,NaN,NaN
mean,2.607625e+13,25.769283,2582.814776,258286.901431,NaN,NaN,NaN,NaN,0.023768,1.081484,0.011339,1.076133,0.014367,1.893180,0.003084,1.215247,0.003241,1.409310,0.007714,1.218636,NaN,NaN,0.723313,0.660522,0.0,0.045231,0.167716,0.075248
std,5.739377e+12,5.744361,574.853109,57485.403626,NaN,NaN,NaN,NaN,0.152326,0.334858,0.105881,0.303035,0.118998,1.018634,0.055444,0.650194,0.056837,0.826884,0.087490,0.611382,NaN,NaN,0.447361,0.473532,0.0,0.207810,0.373614,0.263792
min,1.201010e+13,12.000000,1201.000000,120101.000000,NaN,NaN,NaN,NaN,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,NaN,NaN,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
25%,2.222050e+13,22.000000,2204.000000,220405.000000,NaN,NaN,NaN,NaN,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,NaN,NaN,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
50%,2.459040e+13,24.000000,2409.000000,240911.000000,NaN,NaN,NaN,NaN,0.000000,1.000000,0.000000,1.000000,0.000000,2.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,NaN,NaN,1.000000,1.000000,0.0,0.000000,0.000000,0.000000
75%,3.035070e+13,30.000000,3010.000000,301003.000000,NaN,NaN,NaN,NaN,0.000000,1.000000,0.000000,1.000000,0.000000,2.000000,0.000000,1.000000,0.000000,2.000000,0.000000,1.000000,NaN,NaN,1.000000,1.000000,0.0,0.000000,0.000000,0.000000
max,3.667090e+13,36.000000,3611.000000,361108.000000,NaN,NaN,NaN,NaN,1.000000,7.000000,1.000000,6.000000,1.000000,14.000000,1.000000,8.000000,1.000000,12.000000,1.000000,10.000000,NaN,NaN,1.000000,1.000000,0.0,1.000000,1.000000,1.000000

##### Dataset complementario de relación de tablas: <span style="color:DarkGoldenrod;">"csv_mapping.csv"</span>:

In [40]:
mapping = pd.read_csv("./data/mapping.csv")

In [41]:
mapping.head(10)

       individual_id    household_id   building_id
0  12010200004101001  12010200004101  120102000041
1  12010200004101002  12010200004101  120102000041
2  12010200004101003  12010200004101  120102000041
3  12010200004101004  12010200004101  120102000041
4  12010200004101005  12010200004101  120102000041
5  12010200004101006  12010200004101  120102000041
6  12010200010101001  12010200010101  120102000101
7  12010200010101002  12010200010101  120102000101
8  12010200010101003  12010200010101  120102000101
9  12010200010101004  12010200010101  120102000101

In [42]:
mapping.shape

(3677133, 3)

In [43]:
mapping.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3677133 entries, 0 to 3677132
Data columns (total 3 columns):
 #   Column         Dtype
---  ------         -----
 0   individual_id  int64
 1   household_id   int64
 2   building_id    int64
dtypes: int64(3)
memory usage: 84.2 MB

##### Dataset complementario de correspondencia de distritos con nombres: <span style="color:DarkGoldenrod;">"ward_vdcmun_district_name_mapping.csv"</span>:

In [44]:
districts = pd.read_csv("./data/ward_vdcmun_district_name_mapping.csv")

In [45]:
districts.head()

,ward_id,vdcmun_id,vdcmun_name,district_id,district_name
0,120101,1201,Champadevi Rural Municipality,12,Okhaldhunga
1,120102,1201,Champadevi Rural Municipality,12,Okhaldhunga
2,120103,1201,Champadevi Rural Municipality,12,Okhaldhunga
3,120104,1201,Champadevi Rural Municipality,12,Okhaldhunga
4,120105,1201,Champadevi Rural Municipality,12,Okhaldhunga

In [46]:
districts.shape

(949, 5)

In [47]:
districts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 949 entries, 0 to 948
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ward_id        949 non-null    int64
 1   vdcmun_id      949 non-null    int64
 2   vdcmun_name    949 non-null    object
 3   district_id    949 non-null    int64
 4   district_name  949 non-null    object
dtypes: int64(3), object(2)
memory usage: 37.2+ KB

In [48]:
districts.describe(include="all")

,ward_id,vdcmun_id,vdcmun_name,district_id,district_name
count,949.000000,949.000000,949,949.000000,949
unique,NaN,NaN,108,NaN,11
top,NaN,NaN,Sunkoshi Rural Municipality,NaN,Kavrepalanchok
freq,NaN,NaN,24,NaN,135
mean,254323.958904,2543.183351,NaN,25.373024,NaN
std,61389.153092,613.891243,NaN,6.134735,NaN
min,120101.000000,1201.000000,NaN,12.000000,NaN
25%,220303.000000,2203.000000,NaN,22.000000,NaN
50%,240812.000000,2408.000000,NaN,24.000000,NaN
75%,300905.000000,3009.000000,NaN,30.000000,NaN
max,361108.000000,3611.000000,NaN,36.000000,NaN

---

## <span style="color:CornflowerBlue; text-decoration: underline overline;">PREPROCESADO BÁSICO DE LOS DATOS:</span>

#### <span style="color:CornflowerBlue;">Vamos a unificar los datasets</span>  y quedarnos con las features relevantes para nuestros modelos.
Sólo cogeremos los datasets y variables que se puedan usan en un modelo de predicción de grado de daños global, que es nuestro objetivo, por lo que nuestro target sólo es una variable, "damage grade",  
y es la única variable con datos post-terremoto que vamos a usar, ya que es el resultado. Para predecir de manera preventiva en sitios donde no ha sucedido todavía un seísmo parecido, los datos  
existentes, por lo tanto, no tendrán ninguna información de daños, al no haberse producido todavía, por lo que el modelo no podrá usar este tipo de variables medidas a posteriori.

##### <span style="color:DarkGoldenrod;">Primero</span> juntamos el dataset principal "structure" con el de mapeo de los distritos "district":

In [49]:
features = pd.merge(structure, districts, how="inner", on=["district_id", "vdcmun_id", "ward_id"])

<i>Ahora reordenaremos las columnas para que los nombres de distritos y municipalidades estén junto a sus números correspondientes, y quitaremos las variables medidas tras  
el seísmo:</i>

In [50]:
features = features.iloc[:,[0,2,31,1,32,3,4,6,7,8,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,29,30]]

<i>Ahora una correción menor en los nombres de los distritos:</i>

In [51]:
features.district_name.unique()

array(['Okhaldhunga', 'Sindhuli', 'Ramechhap', 'Dolakha', 'Sindhupalchok',
       'Kavrepalanchok', 'Nuwakot', 'Rasuwa', 'Dhading', 'Makwanpur',
       'Gorkha'], dtype=object)

In [52]:
features.loc[features["district_name"] == "Kavrepalanchok", "district_name"] = "Kabhrepalanchok"

In [53]:
features.district_name.unique()

array(['Okhaldhunga', 'Sindhuli', 'Ramechhap', 'Dolakha', 'Sindhupalchok',
       'Kabhrepalanchok', 'Nuwakot', 'Rasuwa', 'Dhading', 'Makwanpur',
       'Gorkha'], dtype=object)

In [54]:
features.loc[features["district_name"] == "Makwanpur", "district_name"] = "Makawanpur"

In [55]:
features.district_name.unique()

array(['Okhaldhunga', 'Sindhuli', 'Ramechhap', 'Dolakha', 'Sindhupalchok',
       'Kabhrepalanchok', 'Nuwakot', 'Rasuwa', 'Dhading', 'Makawanpur',
       'Gorkha'], dtype=object)

In [56]:
features.shape

(762106, 30)

##### <span style="color:DarkGoldenrod;">Unimos "mapping"</span> con el total.

In [57]:
mapping

             individual_id    household_id   building_id
0        12010200004101001  12010200004101  120102000041
1        12010200004101002  12010200004101  120102000041
2        12010200004101003  12010200004101  120102000041
3        12010200004101004  12010200004101  120102000041
4        12010200004101005  12010200004101  120102000041
...                    ...             ...           ...
3677128  36670900120101004  36670900120101  366709001201
3677129  36670900128101001  36670900128101  366709001281
3677130  36670900128101002  36670900128101  366709001281
3677131  36670900128101003  36670900128101  366709001281
3677132  36670900128101004  36670900128101  366709001281

[3677133 rows x 3 columns]

<i>Lo primero que observamos es que tiene más de 3 millones y medio de registros, cuando el dataset de estructuras tiene unos 760 mil.  
Esto se debe a que en muchos de ellos viven varias familias con varios miembros cada una, y este dataset en concreto usa el identificador de personas como valores únicos, no el de edificios  
como sí pasa en el de estructuras.  
Vamos a quedarnos con sólo el primer identificador de familia que vive en cada edificio, ya que la construcción y sus características es la misma para todas las familias. Perderemos algunos  
datos sociales que diferencian a las familias, pero en total sólo perderemos alrededor de un 10%, y mantendremos unos 690000 registros todavía:</i>

In [58]:
mapping.building_id.nunique()

690457

<i>Ahora podemos quedarnos con el primer id de cada columna basándonos en los valores únicos de "building_id" y hacemos comprobaciones:</i>

In [59]:
mapping = mapping.drop_duplicates(subset='building_id').reset_index(drop=True)
mapping.building_id.nunique()

690457

In [60]:
mapping.shape

(690457, 3)

In [61]:
mapping.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690457 entries, 0 to 690456
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   individual_id  690457 non-null  int64
 1   household_id   690457 non-null  int64
 2   building_id    690457 non-null  int64
dtypes: int64(3)
memory usage: 15.8 MB

<i>Procedemos con la unión:</i>

In [62]:
features = pd.merge(features, mapping, how="inner", on="building_id")

In [63]:
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690457 entries, 0 to 690456
Data columns (total 32 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             690457 non-null  int64
 1   vdcmun_id                               690457 non-null  int64
 2   vdcmun_name                             690457 non-null  object
 3   district_id                             690457 non-null  int64
 4   district_name                           690457 non-null  object
 5   ward_id                                 690457 non-null  int64
 6   count_floors_pre_eq                     690457 non-null  int64
 7   age_building                            690457 non-null  int64
 8   plinth_area_sq_ft                       690457 non-null  int64
 9   height_ft_pre_eq                        690457 non-null  int64
 10  land_surface_condition                  690457 non-null  object
 11  foundation_type                         690457 non-null  object
 12  roof_type                               690457 non-null  object
 13  ground_floor_type                       690457 non-null  object
 14  other_floor_type                        690457 non-null  object
 15  position                                690456 non-null  object
 16  plan_configuration                      690456 non-null  object
 17  has_superstructure_adobe_mud            690457 non-null  int64
 18  has_superstructure_mud_mortar_stone     690457 non-null  int64
 19  has_superstructure_stone_flag           690457 non-null  int64
 20  has_superstructure_cement_mortar_stone  690457 non-null  int64
 21  has_superstructure_mud_mortar_brick     690457 non-null  int64
 22  has_superstructure_cement_mortar_brick  690457 non-null  int64
 23  has_superstructure_timber               690457 non-null  int64
 24  has_superstructure_bamboo               690457 non-null  int64
 25  has_superstructure_rc_non_engineered    690457 non-null  int64
 26  has_superstructure_rc_engineered        690457 non-null  int64
 27  has_superstructure_other                690457 non-null  int64
 28  damage_grade                            690446 non-null  object
 29  technical_solution_proposed             690446 non-null  object
 30  individual_id                           690457 non-null  int64
 31  household_id                            690457 non-null  int64
dtypes: int64(21), object(11)
memory usage: 168.6+ MB

In [64]:
features = features.iloc[:,[0,1,2,3,4,5,31,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29]]

In [65]:
features.head()

,building_id,vdcmun_id,vdcmun_name,district_id,district_name,ward_id,household_id,count_floors_pre_eq,age_building,plinth_area_sq_ft,height_ft_pre_eq,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,damage_grade,technical_solution_proposed
0,120101000011,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100001101,1,9,288,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Grade 3,Major repair
1,120101000021,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100002101,1,15,364,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Grade 5,Reconstruction
2,120101000031,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100003101,1,20,384,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 2,Minor repair
3,120101000041,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100004101,1,20,312,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 2,Minor repair
4,120101000051,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100005101,1,30,308,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 1,Minor repair

##### <span style="color:DarkGoldenrod;">Unimos "resources"</span> con el total.  
Lo único que nos interesa de ella es la fuente de energía calorífica, electricidad y agua, ya que la rotura incontrolada de sus canalizaciones podría provocar más daños,  
especialmente en el caso del gas o agua.

In [66]:
resources.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 747365 entries, 0 to 747364
Data columns (total 36 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   household_id                                  747365 non-null  int64
 1   district_id                                   747365 non-null  int64
 2   vdcmun_id                                     747365 non-null  int64
 3   ward_id                                       747365 non-null  int64
 4   source_water_pre_eq                           747137 non-null  object
 5   source_water_post_eq                          747137 non-null  object
 6   source_cooking_fuel_pre_eq                    747137 non-null  object
 7   source_cooking_fuel_post_eq                   747137 non-null  object
 8   source_light_pre_eq                           747137 non-null  object
 9   source_light_post_eq                          747137 non-null  object
 10  type_toilet_pre_eq                            747137 non-null  object
 11  type_toilet_post_eq                           747137 non-null  object
 12  has_asset_land_pre_eq                         747365 non-null  int64
 13  has_asset_tv_pre_eq                           747365 non-null  int64
 14  has_asset_cable_pre_eq                        747365 non-null  int64
 15  has_asset_computer_pre_eq                     747365 non-null  int64
 16  has_asset_internet_pre_eq                     747365 non-null  int64
 17  has_asset_telephone_pre_eq                    747365 non-null  int64
 18  has_asset_mobile_phone_pre_eq                 747365 non-null  int64
 19  has_asset_fridge_pre_eq                       747365 non-null  int64
 20  has_asset_motorcycle_pre_eq                   747365 non-null  int64
 21  has_asset_four_wheeler_family_use_pre_eq      747365 non-null  int64
 22  has_asset_four_wheeler_commercial_use_pre_eq  747365 non-null  int64
 23  has_asset_none_pre_eq                         747365 non-null  int64
 24  has_asset_land_post_eq                        747365 non-null  int64
 25  has_asset_tv_post_eq                          747365 non-null  int64
 26  has_asset_cable_post_eq                       747365 non-null  int64
 27  has_asset_computer_post_eq                    747365 non-null  int64
 28  has_asset_internet_post_eq                    747365 non-null  int64
 29  has_asset_telephone_post_eq                   747365 non-null  int64
 30  has_asset_mobile_phone_post_eq                747365 non-null  int64
 31  has_asset_fridge_post_eq                      747365 non-null  int64
 32  has_asset_motorcycle_post_eq                  747365 non-null  int64
 33  has_asset_four_wheeler_family_use_post_eq     747365 non-null  int64
 34  has_asset_four_wheeler_commercial_post_eq     747365 non-null  int64
 35  has_asset_none_post_eq                        747365 non-null  int64
dtypes: int64(28), object(8)
memory usage: 205.3+ MB

In [67]:
features = pd.merge(features, resources[["vdcmun_id", "district_id", "ward_id", "household_id", "source_water_pre_eq", "source_cooking_fuel_pre_eq", "source_light_pre_eq"]], how="left", on=["vdcmun_id", "district_id", "ward_id", "household_id"])

In [68]:
features

,building_id,vdcmun_id,vdcmun_name,district_id,district_name,ward_id,household_id,count_floors_pre_eq,age_building,plinth_area_sq_ft,height_ft_pre_eq,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,damage_grade,technical_solution_proposed,source_water_pre_eq,source_cooking_fuel_pre_eq,source_light_pre_eq
0,120101000011,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100001101,1,9,288,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Grade 3,Major repair,Pipeline,Wood,Electricity
1,120101000021,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100002101,1,15,364,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Grade 5,Reconstruction,Pipeline,Wood,Electricity
2,120101000031,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100003101,1,20,384,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 2,Minor repair,Pipeline,Wood,Electricity
3,120101000041,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100004101,1,20,312,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 2,Minor repair,Pipeline,Wood,Electricity
4,120101000051,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100005101,1,30,308,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 1,Minor repair,Pipeline,Wood,Electricity
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
690452,366705001261,3603,Barpak Sulikot Rural Municipality,36,Gorkha,360301,36670500126101,2,12,430,12,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,Timber-Planck,Not attached,Rectangular,0,0,1,0,0,0,1,0,0,0,0,Grade 5,Reconstruction,Pipeline,Wood,Electricity
690453,366705001271,3603,Barpak Sulikot Rural Municipality,36,Gorkha,360301,36670500127101,2,25,420,12,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,Timber-Planck,Not attached,Rectangular,0,0,1,0,0,0,1,0,0,0,0,Grade 5,Reconstruction,Pipeline,Wood,Electricity
690454,366705001281,3603,Barpak Sulikot Rural Municipality,36,Gorkha,360301,36670500128101,2,45,408,12,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Heavy roof,Mud,Timber-Planck,Not attached,Rectangular,0,1,1,0,0,0,1,0,0,0,0,Grade 5,Reconstruction,Pipeline,Wood,Electricity
690455,366705001291,3603,Barpak Sulikot Rural Municipality,36,Gorkha,360301,36670500129101,2,4,493,12,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,Timber-Planck,Not attached,Rectangular,0,0,1,0,0,0,1,0,0,0,0,Grade 5,Reconstruction,Pipeline,Wood,Solar
690456,366705001301,3603,Barpak Sulikot Rural Municipality,36,Gorkha,360301,36670500130101,2,12,255,12,Flat,Bamboo/Timber,Bamboo/Timber-Light roof,Mud,Timber-Planck,Not attached,Rectangular,0,0,0,0,0,0,1,1,0,0,0,Grade 1,No need,Pipeline,Wood,Electricity

##### <span style="color:DarkGoldenrod;">Incorporamos "ownership":</span>

In [69]:
ownership.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 762106 entries, 0 to 762105
Data columns (total 17 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   building_id                    762106 non-null  int64
 1   district_id                    762106 non-null  int64
 2   vdcmun_id                      762106 non-null  int64
 3   ward_id                        762106 non-null  int64
 4   legal_ownership_status         762106 non-null  object
 5   count_families                 762104 non-null  float64
 6   has_secondary_use              762096 non-null  float64
 7   has_secondary_use_agriculture  762106 non-null  int64
 8   has_secondary_use_hotel        762106 non-null  int64
 9   has_secondary_use_rental       762106 non-null  int64
 10  has_secondary_use_institution  762106 non-null  int64
 11  has_secondary_use_school       762106 non-null  int64
 12  has_secondary_use_industry     762106 non-null  int64
 13  has_secondary_use_health_post  762106 non-null  int64
 14  has_secondary_use_gov_office   762106 non-null  int64
 15  has_secondary_use_use_police   762106 non-null  int64
 16  has_secondary_use_other        762106 non-null  int64
dtypes: float64(2), int64(14), object(1)
memory usage: 98.8+ MB

In [70]:
features = pd.merge(features, ownership, how="inner", on=["building_id", "vdcmun_id", "district_id", "ward_id"])

In [71]:
features

,building_id,vdcmun_id,vdcmun_name,district_id,district_name,ward_id,household_id,count_floors_pre_eq,age_building,plinth_area_sq_ft,height_ft_pre_eq,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,damage_grade,technical_solution_proposed,source_water_pre_eq,source_cooking_fuel_pre_eq,source_light_pre_eq,legal_ownership_status,count_families,has_secondary_use,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,120101000011,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100001101,1,9,288,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Grade 3,Major repair,Pipeline,Wood,Electricity,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
1,120101000021,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100002101,1,15,364,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Grade 5,Reconstruction,Pipeline,Wood,Electricity,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
2,120101000031,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100003101,1,20,384,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 2,Minor repair,Pipeline,Wood,Electricity,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
3,120101000041,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100004101,1,20,312,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 2,Minor repair,Pipeline,Wood,Electricity,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
4,120101000051,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100005101,1,30,308,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 1,Minor repair,Pipeline,Wood,Electricity,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
690452,366705001261,3603,Barpak Sulikot Rural Municipality,36,Gorkha,360301,36670500126101,2,12,430,12,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,Timber-Planck,Not attached,Rectangular,0,0,1,0,0,0,1,0,0,0,0,Grade 5,Reconstruction,Pipeline,Wood,Electricity,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
690453,366705001271,3603,Barpak Sulikot Rural Municipality,36,Gorkha,360301,36670500127101,2,25,420,12,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,Timber-Planck,Not attached,Rectangular,0,0,1,0,0,0,1,0,0,0,0,Grade 5,Reconstruction,Pipeline,Wood,Electricity,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
690454,366705001281,3603,Barpak Sulikot Rural Municipality,36,Gorkha,360301,36670500128101,2,45,408,12,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Heavy roof,Mud,Timber-Planck,Not attached,Rectangular,0,1,1,0,0,0,1,0,0,0,0,Grade 5,Reconstruction,Pipeline,Wood,Electricity,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
690455,366705001291,3603,Barpak Sulikot Rural Municipality,36,Gorkha,360301,36670500129101,2,4,493,12,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,Timber-Planck,Not attached,Rectangular,0,0,1,0,0,0,1,0,0,0,0,Grade 5,Reconstruction,Pipeline,Wood,Solar,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
690456,366705001301,3603,Barpak Sulikot Rural Municipality,36,Gorkha,360301,36670500130101,2,12,255,12,Flat,Bamboo/Timber,Bamboo/Timber-Light roof,Mud,Timber-Planck,Not attached,Rectangular,0,0,0,0,0,0,1,1,0,0,0,Grade 1,No need,Pipeline,Wood,Electricity,Other,1.0,0.0,0,0,0,0,0,0,0,0,0,0

##### <span style="color:DarkGoldenrod;">Unimos "demographics":</span>

In [72]:
demographics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 747365 entries, 0 to 747364
Data columns (total 11 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   household_id                          747365 non-null  int64
 1   district_id                           747365 non-null  int64
 2   vdcmun_id                             747365 non-null  int64
 3   ward_id                               747365 non-null  int64
 4   gender_household_head                 747363 non-null  object
 5   age_household_head                    747363 non-null  float64
 6   caste_household                       747137 non-null  object
 7   education_level_household_head        747137 non-null  object
 8   income_level_household                747137 non-null  object
 9   size_household                        747363 non-null  float64
 10  is_bank_account_present_in_household  747137 non-null  float64
dtypes: float64(3), int64(4), object(4)
memory usage: 62.7+ MB

In [73]:
features = pd.merge(features, demographics.drop(["gender_household_head", "size_household", "is_bank_account_present_in_household"], axis=1), how="inner", on=["vdcmun_id", "district_id", "ward_id", "household_id"])

In [74]:
features

,building_id,vdcmun_id,vdcmun_name,district_id,district_name,ward_id,household_id,count_floors_pre_eq,age_building,plinth_area_sq_ft,height_ft_pre_eq,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,damage_grade,technical_solution_proposed,source_water_pre_eq,source_cooking_fuel_pre_eq,source_light_pre_eq,legal_ownership_status,count_families,has_secondary_use,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,age_household_head,caste_household,education_level_household_head,income_level_household
0,120101000011,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100001101,1,9,288,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Grade 3,Major repair,Pipeline,Wood,Electricity,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,31.0,Rai,Illiterate,Rs. 10 thousand
1,120101000021,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100002101,1,15,364,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Grade 5,Reconstruction,Pipeline,Wood,Electricity,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,62.0,Rai,Illiterate,Rs. 10 thousand
2,120101000031,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100003101,1,20,384,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 2,Minor repair,Pipeline,Wood,Electricity,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,51.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand
3,120101000041,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100004101,1,20,312,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 2,Minor repair,Pipeline,Wood,Electricity,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,48.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand
4,120101000051,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100005101,1,30,308,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 1,Minor repair,Pipeline,Wood,Electricity,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,70.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
690452,366705001261,3603,Barpak Sulikot Rural Municipality,36,Gorkha,360301,36670500126101,2,12,430,12,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,Timber-Planck,Not attached,Rectangular,0,0,1,0,0,0,1,0,0,0,0,Grade 5,Reconstruction,Pipeline,Wood,Electricity,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,70.0,Gurung,Illiterate,Rs. 10-20 thousand
690453,366705001271,3603,Barpak Sulikot Rural Municipality,36,Gorkha,360301,36670500127101,2,25,420,12,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,Timber-Planck,Not attached,Rectangular,0,0,1,0,0,0,1,0,0,0,0,Grade 5,Reconstruction,Pipeline,Wood,Electricity,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,35.0,Ghale,Illiterate,Rs. 10-20 thousand
690454,366705001281,3603,Barpak Sulikot Rural Municipality,36,Gorkha,360301,36670500128101,2,45,408,12,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Heavy roof,Mud,Timber-Planck,Not attached,Rectangular,0,1,1,0,0,0,1,0,0,0,0,Grade 5,Reconstruction,Pipeline,Wood,Electricity,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,59.0,Ghale,Non-formal education,Rs. 10-20 thousand
690455,366705001291,3603,Barpak Sulikot Rural Municipality,36,Gorkha,360301,36670500129101,2,4,493,12,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,Timber-Planck,Not attached,Rectangular,0,0,1,0,0,0,1,0,0,0,0,Grade 5,Reconstruction,Pipeline,Wood,Solar,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,55.0,Ghale,Non-formal education,Rs. 20-30 thousand
690456,366705001301,3603,Barpak Sulikot Rural Municipality,36,Gorkha,360301,36670500130101,2,12,255,12,Flat,Bamboo/Timber,Bamboo/Timber-Light roof,Mud,Timber-Planck,Not attached,Rectangular,0,0,0,0,0,0,1,1,0,0,0,Grade 1,No need,Pipeline,Wood,Electricity,Other,1.0,0.0,0,0,0,0,0,0,0,0,0,0,47.0,Ghale,Illiterate,Rs. 10 thousand

##### Hacemos un <span style="color:DarkGoldenrod;">primer guardado </span>del dataset completo por seguridad:

In [75]:
features.to_csv("./data/total_dataset.csv", index=False)

#### <span style="color:CornflowerBlue;">Eliminamos NaNs</span> ya que en el peor de los casos hay menos de 40 filas que tengan.

In [76]:
features.isna().sum().sum()

33

In [77]:
features = features.dropna(ignore_index=True)

In [78]:
features.isna().sum().sum()

0

#### <span style="color:CornflowerBlue;">Conversión de datatypes</span> de las variables que deberían no ser numéricas:
Necesario para una agregación y visualización correcta de los datos.

In [79]:
# Revisemos los data types de todas las features:
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690446 entries, 0 to 690445
Data columns (total 51 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             690446 non-null  int64
 1   vdcmun_id                               690446 non-null  int64
 2   vdcmun_name                             690446 non-null  object
 3   district_id                             690446 non-null  int64
 4   district_name                           690446 non-null  object
 5   ward_id                                 690446 non-null  int64
 6   household_id                            690446 non-null  int64
 7   count_floors_pre_eq                     690446 non-null  int64
 8   age_building                            690446 non-null  int64
 9   plinth_area_sq_ft                       690446 non-null  int64
 10  height_ft_pre_eq                        690446 non-null  int64
 11  land_surface_condition                  690446 non-null  object
 12  foundation_type                         690446 non-null  object
 13  roof_type                               690446 non-null  object
 14  ground_floor_type                       690446 non-null  object
 15  other_floor_type                        690446 non-null  object
 16  position                                690446 non-null  object
 17  plan_configuration                      690446 non-null  object
 18  has_superstructure_adobe_mud            690446 non-null  int64
 19  has_superstructure_mud_mortar_stone     690446 non-null  int64
 20  has_superstructure_stone_flag           690446 non-null  int64
 21  has_superstructure_cement_mortar_stone  690446 non-null  int64
 22  has_superstructure_mud_mortar_brick     690446 non-null  int64
 23  has_superstructure_cement_mortar_brick  690446 non-null  int64
 24  has_superstructure_timber               690446 non-null  int64
 25  has_superstructure_bamboo               690446 non-null  int64
 26  has_superstructure_rc_non_engineered    690446 non-null  int64
 27  has_superstructure_rc_engineered        690446 non-null  int64
 28  has_superstructure_other                690446 non-null  int64
 29  damage_grade                            690446 non-null  object
 30  technical_solution_proposed             690446 non-null  object
 31  source_water_pre_eq                     690446 non-null  object
 32  source_cooking_fuel_pre_eq              690446 non-null  object
 33  source_light_pre_eq                     690446 non-null  object
 34  legal_ownership_status                  690446 non-null  object
 35  count_families                          690446 non-null  float64
 36  has_secondary_use                       690446 non-null  float64
 37  has_secondary_use_agriculture           690446 non-null  int64
 38  has_secondary_use_hotel                 690446 non-null  int64
 39  has_secondary_use_rental                690446 non-null  int64
 40  has_secondary_use_institution           690446 non-null  int64
 41  has_secondary_use_school                690446 non-null  int64
 42  has_secondary_use_industry              690446 non-null  int64
 43  has_secondary_use_health_post           690446 non-null  int64
 44  has_secondary_use_gov_office            690446 non-null  int64
 45  has_secondary_use_use_police            690446 non-null  int64
 46  has_secondary_use_other                 690446 non-null  int64
 47  age_household_head                      690446 non-null  float64
 48  caste_household                         690446 non-null  object
 49  education_level_household_head          690446 non-null  object
 50  income_level_household                  690446 non-null  object
dtypes: float64(3), int64(30), object(18)
memory usage: 268.7+ MB

##### <span style="color:DarkGoldenrod;">"building_id", "vdcmun_id", "district_id", "ward_id" y "household_id"</span> son identificadores únicos y deben convertirse a string para no tratarlos como números:

In [80]:
features[["building_id", "vdcmun_id", "district_id", "ward_id", "household_id"]] = features[["building_id", "vdcmun_id", "district_id", "ward_id", "household_id"]].astype(str)

#### <span style="color:CornflowerBlue;">Cuantizaremos</span> algunas variables numéricas, para reducir el tamaño del dataset en momoria y eficiencia:

##### <span style="color:DarkGoldenrod;">"count_floors_pre_eq"</span>, conteo de plantas del edificio:

In [81]:
print(features.count_floors_pre_eq.min(), features.count_floors_pre_eq.max())

1 9

In [82]:
# Su valor máximno permite seleccionar 8 bits sin signo, que nos dará una altura máxima de 255 plantas.
# Podríamos más adelante cambiarla a un tipo superior si fuera necesario.
features.count_floors_pre_eq = features.count_floors_pre_eq.astype("uint8")

##### <span style="color:DarkGoldenrod;">"age_building"</span>, la variable de edad del edificio:

In [83]:
print(features.age_building.min(), features.age_building.max())

0 999

In [84]:
# Abarca hasta 999 años, por lo que usaremos 16 bits.
features.age_building = features.age_building.astype("uint16")

##### <span style="color:DarkGoldenrod;">"plinth_area_sq_ft"</span>, área de la planta en suelo. Aprovecharemos para cambiarlo a metros cuadrados y cambiar el nombre:

In [85]:
print(features.plinth_area_sq_ft.min(), features.plinth_area_sq_ft.max())

70 5000

In [86]:
# Su valor máximo es de 5000, por lo que usaremos 16 bits unsigned que permite hasta 65535 de máximo.
features.plinth_area_sq_ft = (features.plinth_area_sq_ft * 0.092904).astype("uint16")

In [87]:
features.rename(columns={"plinth_area_sq_ft":"plinth_area_sq_mts"}, inplace=True)
features.head()

,building_id,vdcmun_id,vdcmun_name,district_id,district_name,ward_id,household_id,count_floors_pre_eq,age_building,plinth_area_sq_mts,height_ft_pre_eq,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,damage_grade,technical_solution_proposed,source_water_pre_eq,source_cooking_fuel_pre_eq,source_light_pre_eq,legal_ownership_status,count_families,has_secondary_use,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,age_household_head,caste_household,education_level_household_head,income_level_household
0,120101000011,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100001101,1,9,26,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Grade 3,Major repair,Pipeline,Wood,Electricity,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,31.0,Rai,Illiterate,Rs. 10 thousand
1,120101000021,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100002101,1,15,33,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Grade 5,Reconstruction,Pipeline,Wood,Electricity,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,62.0,Rai,Illiterate,Rs. 10 thousand
2,120101000031,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100003101,1,20,35,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 2,Minor repair,Pipeline,Wood,Electricity,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,51.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand
3,120101000041,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100004101,1,20,28,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 2,Minor repair,Pipeline,Wood,Electricity,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,48.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand
4,120101000051,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100005101,1,30,28,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 1,Minor repair,Pipeline,Wood,Electricity,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,70.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand

##### <span style="color:DarkGoldenrod;">"height_ft_pre_eq"</span>, altura del edificio en pies. Aprovecharemos para cambiarlo a metros cuadrados y cambiar el nombre:

In [88]:
print(features.height_ft_pre_eq.min(), features.height_ft_pre_eq.max())

6 99

In [89]:
# Su valor máximo es de 99 pies, así que podemos usar integer sin signo de 8 bits
features.height_ft_pre_eq = (features.height_ft_pre_eq * 0.3048).astype("uint16")

In [90]:
features.rename(columns={"height_ft_pre_eq":"height_mts_pre_eq"}, inplace=True)

##### <span style="color:DarkGoldenrod;">Las variables "has......"</span>, son one-hot-encoding, por lo que deben tener sólo dos valores posibles:

In [91]:
cols = list(features.iloc[:,18:29].columns)
cols.extend(features.iloc[:,36:47].columns)
features[cols] = features[cols].astype("uint8")

##### <span style="color:DarkGoldenrod;">"count_families"</span>, número de familias que viven en el edificio. No puede haber familias decimales, ¿verdad?:

In [92]:
features.count_families.unique()

array([ 1.,  2.,  4.,  3.,  5.,  6.,  9.,  7.,  8., 11.])

In [93]:
# Efectivamente no hay valores con decimales, a pesar de ser float. Las cambiaremos a unit8 no signado.
features.count_families = features.count_families.astype("uint8")

##### <span style="color:DarkGoldenrod;">"age_household_head"</span>, edad del cabeza de familia de los inquilinos.

In [94]:
# Debería bastar con 8 bits no signados, que nos dará hasta 255 años.
features.age_household_head = features.age_household_head.astype("uint8")

#### <span style="color:CornflowerBlue;">Comprobamos</span> el resultado:

In [95]:
features.iloc[:10, [7,8,9,10,18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47]]

,count_floors_pre_eq,age_building,plinth_area_sq_mts,height_mts_pre_eq,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,has_secondary_use,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,age_household_head
0,1,9,26,2,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,31
1,1,15,33,2,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,62
2,1,20,35,2,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,51
3,1,20,28,2,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,48
4,1,30,28,2,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,70
5,1,18,20,2,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,52
6,1,13,21,2,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,27
7,1,8,26,2,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,31
8,1,22,24,2,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,44
9,1,10,24,2,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,34

In [96]:
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690446 entries, 0 to 690445
Data columns (total 51 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             690446 non-null  object
 1   vdcmun_id                               690446 non-null  object
 2   vdcmun_name                             690446 non-null  object
 3   district_id                             690446 non-null  object
 4   district_name                           690446 non-null  object
 5   ward_id                                 690446 non-null  object
 6   household_id                            690446 non-null  object
 7   count_floors_pre_eq                     690446 non-null  uint8
 8   age_building                            690446 non-null  uint16
 9   plinth_area_sq_mts                      690446 non-null  uint16
 10  height_mts_pre_eq                       690446 non-null  uint16
 11  land_surface_condition                  690446 non-null  object
 12  foundation_type                         690446 non-null  object
 13  roof_type                               690446 non-null  object
 14  ground_floor_type                       690446 non-null  object
 15  other_floor_type                        690446 non-null  object
 16  position                                690446 non-null  object
 17  plan_configuration                      690446 non-null  object
 18  has_superstructure_adobe_mud            690446 non-null  uint8
 19  has_superstructure_mud_mortar_stone     690446 non-null  uint8
 20  has_superstructure_stone_flag           690446 non-null  uint8
 21  has_superstructure_cement_mortar_stone  690446 non-null  uint8
 22  has_superstructure_mud_mortar_brick     690446 non-null  uint8
 23  has_superstructure_cement_mortar_brick  690446 non-null  uint8
 24  has_superstructure_timber               690446 non-null  uint8
 25  has_superstructure_bamboo               690446 non-null  uint8
 26  has_superstructure_rc_non_engineered    690446 non-null  uint8
 27  has_superstructure_rc_engineered        690446 non-null  uint8
 28  has_superstructure_other                690446 non-null  uint8
 29  damage_grade                            690446 non-null  object
 30  technical_solution_proposed             690446 non-null  object
 31  source_water_pre_eq                     690446 non-null  object
 32  source_cooking_fuel_pre_eq              690446 non-null  object
 33  source_light_pre_eq                     690446 non-null  object
 34  legal_ownership_status                  690446 non-null  object
 35  count_families                          690446 non-null  uint8
 36  has_secondary_use                       690446 non-null  uint8
 37  has_secondary_use_agriculture           690446 non-null  uint8
 38  has_secondary_use_hotel                 690446 non-null  uint8
 39  has_secondary_use_rental                690446 non-null  uint8
 40  has_secondary_use_institution           690446 non-null  uint8
 41  has_secondary_use_school                690446 non-null  uint8
 42  has_secondary_use_industry              690446 non-null  uint8
 43  has_secondary_use_health_post           690446 non-null  uint8
 44  has_secondary_use_gov_office            690446 non-null  uint8
 45  has_secondary_use_use_police            690446 non-null  uint8
 46  has_secondary_use_other                 690446 non-null  uint8
 47  age_household_head                      690446 non-null  uint8
 48  caste_household                         690446 non-null  object
 49  education_level_household_head          690446 non-null  object
 50  income_level_household                  690446 non-null  object
dtypes: object(23), uint16(3), uint8(25)
memory usage: 141.6+ MB

Y volvemos a guardar el resultado:

In [97]:
features.to_csv("./data/total_dataset.csv", index=False)

#### <span style="color:CornflowerBlue;">Codificamos </span>las variables  categóricas:

<i>Nota: No eliminaremos las variables codificadas. En el momento de uso del modelo en cada momento se eliminarán los redundantes.</i>

##### <span style="color:DarkGoldenrod;">"land_surface_condition"</span>, inclinación del suelo:

In [98]:
# Veamos sus valores:
features.land_surface_condition.value_counts()

land_surface_condition
Flat              571869
Moderate slope     95870
Steep slope        22707
Name: count, dtype: int64

In [99]:
# Calculamos las dummies
dummies = pd.get_dummies(features.land_surface_condition, dtype="uint8", prefix="land_surface")
# Insertamos las dummies junto a la variable original
features = pd.concat([features.iloc[:, :12], dummies, features.iloc[:, 12:]], axis=1)

##### <span style="color:DarkGoldenrod;">"foundation_type"</span>, tipo de cimentación:

In [100]:
features.foundation_type.value_counts()

foundation_type
Mud mortar-Stone/Brick    573581
Bamboo/Timber              52457
Cement-Stone/Brick         34502
RC                         25770
Other                       4136
Name: count, dtype: int64

In [101]:
# Calculamos las dummies
dummies = pd.get_dummies(features.foundation_type, dtype="uint8", prefix="foundation")
# Insertamos las dummies junto a la variable original
features = pd.concat([features.iloc[:, :16], dummies, features.iloc[:, 16:]], axis=1)

##### <span style="color:DarkGoldenrod;">"roof_type"</span>, tipo de tejado:

In [102]:
features.roof_type.value_counts()

roof_type
Bamboo/Timber-Light roof    456993
Bamboo/Timber-Heavy roof    196770
RCC/RB/RBC                   36683
Name: count, dtype: int64

In [103]:
# Calculamos las dummies
dummies = pd.get_dummies(features.roof_type, dtype="uint8", prefix="roof")
# Insertamos las dummies junto a la variable original
features = pd.concat([features.iloc[:, :22], dummies, features.iloc[:, 22:]], axis=1)

##### <span style="color:DarkGoldenrod;">"ground_floor_type"</span>, tipo de construcción de la planta baja (planta suelo):

In [104]:
features.ground_floor_type.value_counts()

ground_floor_type
Mud            564192
RC              62069
Brick/Stone     60365
Timber           2915
Other             905
Name: count, dtype: int64

In [105]:
# Calculamos las dummies
dummies = pd.get_dummies(features.ground_floor_type, dtype="uint8", prefix="ground_floor")
# Insertamos las dummies junto a la variable original
features = pd.concat([features.iloc[:, :26], dummies, features.iloc[:, 26:]], axis=1)

##### <span style="color:DarkGoldenrod;">"other_floor_type"</span>, tipo de construcción del resto de las plantas:

In [106]:
features.other_floor_type.value_counts()

other_floor_type
TImber/Bamboo-Mud    445179
Timber-Planck        113525
Not applicable       104897
RCC/RB/RBC            26845
Name: count, dtype: int64

In [107]:
# Calculamos las dummies
dummies = pd.get_dummies(features.other_floor_type, dtype="uint8", prefix="other_floor")
# Insertamos las dummies junto a la variable original
features = pd.concat([features.iloc[:, :32], dummies, features.iloc[:, 32:]], axis=1)

##### <span style="color:DarkGoldenrod;">"position"</span>, posición de adosamiento o apoyo sobre otros edificios:

In [108]:
features.position.value_counts()

position
Not attached       550693
Attached-1 side    115823
Attached-2 side     22859
Attached-3 side      1071
Name: count, dtype: int64

In [109]:
# Calculamos las dummies
dummies = pd.get_dummies(features.position, dtype="uint8", prefix="position")
# Insertamos las dummies junto a la variable original
features = pd.concat([features.iloc[:, :37], dummies, features.iloc[:, 37:]], axis=1)

##### <span style="color:DarkGoldenrod;">"plan_configuration"</span>, forma de la planta del edificio:

In [110]:
features.plan_configuration.value_counts()

plan_configuration
Rectangular                        662613
Square                              15735
L-shape                              9246
T-shape                               881
Multi-projected                       809
Others                                465
U-shape                               406
E-shape                               134
Building with Central Courtyard        86
H-shape                                71
Name: count, dtype: int64

In [111]:
# Calculamos las dummies
dummies = pd.get_dummies(features.plan_configuration, dtype="uint8", prefix="plan_configuration")
# Insertamos las dummies junto a la variable original
features = pd.concat([features.iloc[:, :42], dummies, features.iloc[:, 42:]], axis=1)

##### <span style="color:DarkGoldenrod;">"source_water_pre_eq"</span>, instalación de agua existente:

In [112]:
features.source_water_pre_eq.value_counts()

source_water_pre_eq
Pipeline        560398
Spring           64408
Open well        34627
Covered well     13229
River             8939
Tubewell          7196
Others            1649
Name: count, dtype: int64

In [113]:
# Calculamos las dummies
dummies = pd.get_dummies(features.source_water_pre_eq, dtype="uint8", prefix="source_water")
# Insertamos las dummies junto a la variable original
features = pd.concat([features.iloc[:, :66], dummies, features.iloc[:, 66:]], axis=1)

##### <span style="color:DarkGoldenrod;">"source_cooking_fuel_pre_eq"</span>, fuente de combustible:

In [114]:
features.source_cooking_fuel_pre_eq.value_counts()

source_cooking_fuel_pre_eq
Wood           614487
LP Gas          63878
Gobar Gas       11599
Others            259
Kerosene          128
Electricity        95
Name: count, dtype: int64

In [115]:
# Calculamos las dummies
dummies = pd.get_dummies(features.source_cooking_fuel_pre_eq, dtype="uint8", prefix="source_cooking_fuel")
# Insertamos las dummies junto a la variable original
features = pd.concat([features.iloc[:, :74], dummies, features.iloc[:, 74:]], axis=1)

##### <span style="color:DarkGoldenrod;">"source_light_pre_eq"</span>, fuente de electricidad:

In [116]:
features.source_light_pre_eq.value_counts()

source_light_pre_eq
Electricity    583874
Solar           72146
Kerosene        19797
Others          13786
Gobar Gas         532
Generator         311
Name: count, dtype: int64

In [117]:
# Calculamos las dummies
dummies = pd.get_dummies(features.source_light_pre_eq, dtype="uint8", prefix="source_light")
# Insertamos las dummies junto a la variable original
features = pd.concat([features.iloc[:, :81], dummies, features.iloc[:, 81:]], axis=1)

##### <span style="color:DarkGoldenrod;">"legal_ownership_status"</span>, tipo de propiedad legal:

In [118]:
features.legal_ownership_status.value_counts()

legal_ownership_status
Private          662519
Public            17433
Institutional      7138
Other              3356
Name: count, dtype: int64

In [119]:
# Calculamos las dummies
dummies = pd.get_dummies(features.legal_ownership_status, dtype="uint8", prefix="legal_ownership")
# Insertamos las dummies junto a la variable original
features = pd.concat([features.iloc[:, :88], dummies, features.iloc[:, 88:]], axis=1)

##### <span style="color:DarkGoldenrod;">"caste_household"</span>, casta del inquilino:

In [120]:
features.caste_household.value_counts()

caste_household
Tamang           194659
Chhetree         117929
Brahman-Hill     102870
Newar             61610
Magar             42510
                  ...
Mewahang Bala         1
Kahar                 1
Kalar                 1
Satar/Santhal         1
Meche                 1
Name: count, Length: 94, dtype: int64

Dado que hay 96 castas, algunas con muy baja coincidencia, no va a ser adecuada, asi que la eliminamos:

In [121]:
features = features.drop("caste_household", axis=1)

##### <span style="color:DarkGoldenrod;">"education_level_household_head"</span>, nivel de educación del cabeza de familia:

In [122]:
features.education_level_household_head.value_counts()

education_level_household_head
Illiterate                    251226
Non-formal education          149679
Class 5                        40656
SLC or equivalent              37346
Class 4                        25191
Intermediate or equivalent     24902
Class 3                        24175
Class 8                        24021
Class 10                       21414
Class 2                        20711
Class 7                        18643
Class 6                        14917
Class 9                        10555
Class 1                         9413
Bachelors or equivalent         9343
Masters or equivalent           3776
Other                           2724
Nursery/K.G./Kindergarten       1690
Ph.D. or equivalent               64
Name: count, dtype: int64

In [123]:
# Calculamos las dummies
dummies = pd.get_dummies(features.education_level_household_head, dtype="uint8", prefix="education_level")
# Insertamos las dummies junto a la variable original
features = pd.concat([features.iloc[:, :106], dummies, features.iloc[:, 106:]], axis=1)

##### <span style="color:DarkGoldenrod;">"income_level_household"</span>, ingresos familiares:

In [124]:
features.income_level_household.value_counts()

income_level_household
Rs. 10 thousand            382658
Rs. 10-20 thousand         210830
Rs. 20-30 thousand          69056
Rs. 30-50 thousand          20189
Rs. 50 thousand or more      7713
Name: count, dtype: int64

In [125]:
# Calculamos las dummies
dummies = pd.get_dummies(features.income_level_household, dtype="uint8", prefix="income_level")
# Insertamos las dummies junto a la variable original
features = pd.concat([features,dummies], axis=1)

##### <span style="color:DarkGoldenrod;">"damage_grade"</span>, nuestro Target, nivel de daño producido en el inmueble:

In [126]:
features.damage_grade.value_counts()

damage_grade
Grade 5    254313
Grade 4    167996
Grade 3    123131
Grade 2     77454
Grade 1     67552
Name: count, dtype: int64

Nuestra variable ha de tener 5 grados, pero ha de ser numérica para los modelos, así que la transformaremos a mano:

In [127]:
features.loc[features.damage_grade == "Grade 5", "damage_grade"] = 5
features.loc[features.damage_grade == "Grade 4", "damage_grade"] = 4
features.loc[features.damage_grade == "Grade 3", "damage_grade"] = 3
features.loc[features.damage_grade == "Grade 2", "damage_grade"] = 2
features.loc[features.damage_grade == "Grade 1", "damage_grade"] = 1

In [128]:
features.damage_grade.value_counts()

damage_grade
5    254313
4    167996
3    123131
2     77454
1     67552
Name: count, dtype: int64

Y ahora la transformaremos en numérica:

In [129]:
features.damage_grade = features.damage_grade.astype("int8")

Ahora de cara a la separación de los targets, reindexamos el dataset:

In [130]:
features.reset_index(drop=True, inplace=True)

Volvemos a guardar el dataset definitivo completo, antes de la división de features y targets.

In [131]:
features.to_csv("./data/total_dataset.csv", index=False)

Probamos que se carga sin problemas:

In [132]:
pd.read_csv("./data/total_dataset.csv")

,building_id,vdcmun_id,vdcmun_name,district_id,district_name,ward_id,household_id,count_floors_pre_eq,age_building,plinth_area_sq_mts,height_mts_pre_eq,land_surface_condition,land_surface_Flat,land_surface_Moderate slope,land_surface_Steep slope,foundation_type,foundation_Bamboo/Timber,foundation_Cement-Stone/Brick,foundation_Mud mortar-Stone/Brick,foundation_Other,foundation_RC,roof_type,roof_Bamboo/Timber-Heavy roof,roof_Bamboo/Timber-Light roof,roof_RCC/RB/RBC,ground_floor_type,ground_floor_Brick/Stone,ground_floor_Mud,ground_floor_Other,ground_floor_RC,ground_floor_Timber,other_floor_type,other_floor_Not applicable,other_floor_RCC/RB/RBC,other_floor_TImber/Bamboo-Mud,other_floor_Timber-Planck,position,position_Attached-1 side,position_Attached-2 side,position_Attached-3 side,position_Not attached,plan_configuration,plan_configuration_Building with Central Courtyard,plan_configuration_E-shape,plan_configuration_H-shape,plan_configuration_L-shape,plan_configuration_Multi-projected,plan_configuration_Others,plan_configuration_Rectangular,plan_configuration_Square,plan_configuration_T-shape,plan_configuration_U-shape,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,damage_grade,technical_solution_proposed,source_water_pre_eq,source_water_Covered well,source_water_Open well,source_water_Others,source_water_Pipeline,source_water_River,source_water_Spring,source_water_Tubewell,source_cooking_fuel_pre_eq,source_cooking_fuel_Electricity,source_cooking_fuel_Gobar Gas,source_cooking_fuel_Kerosene,source_cooking_fuel_LP Gas,source_cooking_fuel_Others,source_cooking_fuel_Wood,source_light_pre_eq,source_light_Electricity,source_light_Generator,source_light_Gobar Gas,source_light_Kerosene,source_light_Others,source_light_Solar,legal_ownership_status,legal_ownership_Institutional,legal_ownership_Other,legal_ownership_Private,legal_ownership_Public,count_families,has_secondary_use,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,age_household_head,education_level_household_head,education_level_Bachelors or equivalent,education_level_Class 1,education_level_Class 10,education_level_Class 2,education_level_Class 3,education_level_Class 4,education_level_Class 5,education_level_Class 6,education_level_Class 7,education_level_Class 8,education_level_Class 9,education_level_Illiterate,education_level_Intermediate or equivalent,education_level_Masters or equivalent,education_level_Non-formal education,education_level_Nursery/K.G./Kindergarten,education_level_Other,education_level_Ph.D. or equivalent,education_level_SLC or equivalent,income_level_household,income_level_Rs. 10 thousand,income_level_Rs. 10-20 thousand,income_level_Rs. 20-30 thousand,income_level_Rs. 30-50 thousand,income_level_Rs. 50 thousand or more
0,120101000011,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100001101,1,9,26,2,Flat,1,0,0,Other,0,0,0,1,0,Bamboo/Timber-Light roof,0,1,0,Mud,0,1,0,0,0,Not applicable,1,0,0,0,Not attached,0,0,0,1,Rectangular,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,3,Major repair,Pipeline,0,0,0,1,0,0,0,Wood,0,0,0,0,0,1,Electricity,1,0,0,0,0,0,Private,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,31,Illiterate,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,Rs. 10 thousand,1,0,0,0,0
1,120101000021,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100002101,1,15,33,2,Flat,1,0,0,Other,0,0,0,1,0,Bamboo/Timber-Light roof,0,1,0,Mud,0,1,0,0,0,Not applicable,1,0,0,0,Not attached,0,0,0,1,Rectangular,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,5,Reconstruction,Pipeline,0,0,0,1,0,0,0,Wood,0,0,0,0,0,1,Electricity,1,0,0,0,0,0,Private,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,62,Illiterate,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,Rs. 10 thousand,1,0,0,0,0
2,120101000031,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100003101,1,20,35,2,Flat,1,0,0,Other,0,0,0,1,0,Bamboo/Timber-Light roof,0,1,0,Mud,0,1,0,0,0,Not applicable,1,0,0,0,Not attached,0,0,0,1,Rectangular,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,2,Minor repair,Pipeline,0,0,0,1,0,0,0,Wood,0,0,0,0,0,1,Electricity,1,0,0,0,0,0,Private,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,51,Illiterate,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,Rs. 10 thousand,1,0,0,0,0
3,120101000041,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100004101,1,20,28,2,Flat,1,0,0,Other,0,0,0,1,0,Bamboo/Timber-Light roof,0,1,0,Mud,0,1,0,0,0,Not applicable,1,0,0,0,Not attached,0,0,0,1,Rectangular,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,2,Minor repair,Pipeline,0,0,0,1,0,0,0,Wood,0,0,0,0,0,1,Electricity,1,0,0,0,0,0,Private,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,48,Illiterate,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,Rs. 10 thousand,1,0,0,0,0
4,120101000051,1207,Siddhicharan Municipality,12,Okhaldhunga,120703,12010100005101,1,30,28,2,Flat,1,0,0,Other,0,0,0,1,0,Bamboo/Timber-Light roof,0,1,0,Mud,0,1,0,0,0,Not applicable,1,0,0,0,Not attached,0,0,0,1,Rectangular,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,Minor repair,Pipeline,0,0,0,1,0,0,0,Wood,0,0,0,0,0,1,Electricity,1,0,0,0,0,0,Private,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,70,Illiterate,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,Rs. 10 thousand,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
690441,366705001261,3603,Barpak Sulikot Rural Municipality,36,Gorkha,360301,36670500126101,2,12,39,3,Flat,1,0,0,Mud mortar-Stone/Brick,0,0,1,0,0,Bamboo/Timber-Light roof,0,1,0,Mud,0,1,0,0,0,Timber-Planck,0,0,0,1,Not attached,0,0,0,1,Rectangular,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,5,Reconstruction,Pipeline,0,0,0,1,0,0,0,Wood,0,0,0,0,0,1,Electricity,1,0,0,0,0,0,Private,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,70,Illiterate,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,Rs. 10-20 thousand,0,1,0,0,0
690442,366705001271,3603,Barpak Sulikot Rural Municipality,36,Gorkha,360301,36670500127101,2,25,39,3,Flat,1,0,0,Mud mortar-Stone/Brick,0,0,1,0,0,Bamboo/Timber-Light roof,0,1,0,Mud,0,1,0,0,0,Timber-Planck,0,0,0,1,Not attached,0,0,0,1,Rectangular,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,5,Reconstruction,Pipeline,0,0,0,1,0,0,0,Wood,0,0,0,0,0,1,Electricity,1,0,0,0,0,0,Private,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,35,Illiterate,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,Rs. 10-20 thousand,0,1,0,0,0
690443,366705001281,3603,Barpak Sulikot Rural Municipality,36,Gorkha,360301,36670500128101,2,45,37,3,Flat,1,0,0,Mud mortar-Stone/Brick,0,0,1,0,0,Bamboo/Timber-Heavy roof,1,0,0,Mud,0,1,0,0,0,Timber-Planck,0,0,0,1,Not attached,0,0,0,1,Rectangular,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,0,0,5,Reconstruction,Pipeline,0,0,0,1,0,0,0,Wood,0,0,0,0,0,1,Electricity,1,0,0,0,0,0,Private,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,59,Non-formal education,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,Rs. 10-20 thousand,0,1,0,0,0
690444,366705001291,3603,Barpak Sulikot Rural Municipality,36,Gorkha,360301,36670500129101,2,4,45,3,Flat,1,0,0,Mud mortar-Stone/Brick,0,0,1,0,0,Bamboo/Timber-Light roof,0,1,0,Mud,0,1,0,0,0,Timber-Planck,0,0,0,1,Not attached,0,0,0,1,Rectangular,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,5,Reconstruction,Pipeline,0,0,0,1,0,0,0,Wood,0,0,0,0,0,1,Solar,0,0,0,0,0,1,Private,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,55,Non-formal education,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,Rs. 20-30 thousand,0,0,1,0,0
690445,366705001301,3603,Barpak Sulikot Rural Municipality,36,Gorkha,360301,36670500130101,2,12,23,3,Flat,1,0,0,Bamboo/Timber,1,0,0,0,0,Bamboo/Timber-Light roof,0,1,0,Mud,0,1,0,0,0,Timber-Planck,0,0,0,1,Not attached,0,0,0,1,Rectangular,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,No need,Pipeline,0,0,0,1,0,0,0,Wood,0,0,0,0,0,1,Electricity,1,0,0,0,0,0,Other,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,47,Illiterate,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,Rs. 10 thousand,1,0,0,0,0

#### <span style="color:CornflowerBlue;">Extraemos </span>nuestras variables target:

##### <span style="color:Darkred;">"technical_solution_proposed"</span>, solución propuesta en función del grado de daño en conjunción con la revisión completa de daños:

Es una variable con posibilidad de someterse a un segundo modelo de predicción para acompañar al nivel de daños. Vamos a cambiarle los  
valores a numéricos y dejarla lista para extraer aparte, porque además es una variable post-terremoto que no podemos usar para predecir en  
función de unos daños detallados que todavía no se habrán producido en la fase de deployment.

In [133]:
features.technical_solution_proposed.value_counts()

technical_solution_proposed
Reconstruction    432106
Major repair      116503
Minor repair       98224
No need            43613
Name: count, dtype: int64

In [134]:
features.loc[features.technical_solution_proposed == "Reconstruction", "technical_solution_proposed"] = 3
features.loc[features.technical_solution_proposed == "Major repair", "technical_solution_proposed"] = 2
features.loc[features.technical_solution_proposed == "Minor repair", "technical_solution_proposed"] = 1
features.loc[features.technical_solution_proposed == "No need", "technical_solution_proposed"] = 0

In [135]:
features.technical_solution_proposed.value_counts()

technical_solution_proposed
3    432106
2    116503
1     98224
0     43613
Name: count, dtype: int64

Y ahora la guardamos en el disco:

In [136]:
features.technical_solution_proposed.to_csv("./data/target_solution_proposed.csv")

Y la eliminamos de las features:

In [137]:
features = features.drop("technical_solution_proposed", axis=1)

##### <span style="color:Darkred;">"damage_grade"</span>

In [138]:
features.damage_grade.to_csv("./data/target_damage_grade.csv")

In [139]:
features = features.drop("damage_grade", axis=1)

Y ya nos quedamos con el dataset de features precargado para la etapa de EDA y posible feature engineering posterior.

In [141]:
features.to_csv("./data/features.csv", index=False)

---

## <span style="color:CornflowerBlue; text-decoration: underline overline;">EDA:</span>

In [140]:
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690446 entries, 0 to 690445
Data columns (total 129 columns):
 #    Column                                              Non-Null Count   Dtype
---   ------                                              --------------   -----
 0    building_id                                         690446 non-null  object
 1    vdcmun_id                                           690446 non-null  object
 2    vdcmun_name                                         690446 non-null  object
 3    district_id                                         690446 non-null  object
 4    district_name                                       690446 non-null  object
 5    ward_id                                             690446 non-null  object
 6    household_id                                        690446 non-null  object
 7    count_floors_pre_eq                                 690446 non-null  uint8
 8    age_building                                        690446 non-null  uint16
 9    plinth_area_sq_mts                                  690446 non-null  uint16
 10   height_mts_pre_eq                                   690446 non-null  uint16
 11   land_surface_condition                              690446 non-null  object
 12   land_surface_Flat                                   690446 non-null  uint8
 13   land_surface_Moderate slope                         690446 non-null  uint8
 14   land_surface_Steep slope                            690446 non-null  uint8
 15   foundation_type                                     690446 non-null  object
 16   foundation_Bamboo/Timber                            690446 non-null  uint8
 17   foundation_Cement-Stone/Brick                       690446 non-null  uint8
 18   foundation_Mud mortar-Stone/Brick                   690446 non-null  uint8
 19   foundation_Other                                    690446 non-null  uint8
 20   foundation_RC                                       690446 non-null  uint8
 21   roof_type                                           690446 non-null  object
 22   roof_Bamboo/Timber-Heavy roof                       690446 non-null  uint8
 23   roof_Bamboo/Timber-Light roof                       690446 non-null  uint8
 24   roof_RCC/RB/RBC                                     690446 non-null  uint8
 25   ground_floor_type                                   690446 non-null  object
 26   ground_floor_Brick/Stone                            690446 non-null  uint8
 27   ground_floor_Mud                                    690446 non-null  uint8
 28   ground_floor_Other                                  690446 non-null  uint8
 29   ground_floor_RC                                     690446 non-null  uint8
 30   ground_floor_Timber                                 690446 non-null  uint8
 31   other_floor_type                                    690446 non-null  object
 32   other_floor_Not applicable                          690446 non-null  uint8
 33   other_floor_RCC/RB/RBC                              690446 non-null  uint8
 34   other_floor_TImber/Bamboo-Mud                       690446 non-null  uint8
 35   other_floor_Timber-Planck                           690446 non-null  uint8
 36   position                                            690446 non-null  object
 37   position_Attached-1 side                            690446 non-null  uint8
 38   position_Attached-2 side                            690446 non-null  uint8
 39   position_Attached-3 side                            690446 non-null  uint8
 40   position_Not attached                               690446 non-null  uint8
 41   plan_configuration                                  690446 non-null  object
 42   plan_configuration_Building with Central Courtyard  690446 non-null  uint8
 43   plan_configuration_E-shape                          690446 non-null  uint8
 44   plan_configuration_H-shape                          690446 non-null  uint8
 45   plan_configuration_L-shape                          690446 non-null  uint8
 46   plan_configuration_Multi-projected                  690446 non-null  uint8
 47   plan_configuration_Others                           690446 non-null  uint8
 48   plan_configuration_Rectangular                      690446 non-null  uint8
 49   plan_configuration_Square                           690446 non-null  uint8
 50   plan_configuration_T-shape                          690446 non-null  uint8
 51   plan_configuration_U-shape                          690446 non-null  uint8
 52   has_superstructure_adobe_mud                        690446 non-null  uint8
 53   has_superstructure_mud_mortar_stone                 690446 non-null  uint8
 54   has_superstructure_stone_flag                       690446 non-null  uint8
 55   has_superstructure_cement_mortar_stone              690446 non-null  uint8
 56   has_superstructure_mud_mortar_brick                 690446 non-null  uint8
 57   has_superstructure_cement_mortar_brick              690446 non-null  uint8
 58   has_superstructure_timber                           690446 non-null  uint8
 59   has_superstructure_bamboo                           690446 non-null  uint8
 60   has_superstructure_rc_non_engineered                690446 non-null  uint8
 61   has_superstructure_rc_engineered                    690446 non-null  uint8
 62   has_superstructure_other                            690446 non-null  uint8
 63   source_water_pre_eq                                 690446 non-null  object
 64   source_water_Covered well                           690446 non-null  uint8
 65   source_water_Open well                              690446 non-null  uint8
 66   source_water_Others                                 690446 non-null  uint8
 67   source_water_Pipeline                               690446 non-null  uint8
 68   source_water_River                                  690446 non-null  uint8
 69   source_water_Spring                                 690446 non-null  uint8
 70   source_water_Tubewell                               690446 non-null  uint8
 71   source_cooking_fuel_pre_eq                          690446 non-null  object
 72   source_cooking_fuel_Electricity                     690446 non-null  uint8
 73   source_cooking_fuel_Gobar Gas                       690446 non-null  uint8
 74   source_cooking_fuel_Kerosene                        690446 non-null  uint8
 75   source_cooking_fuel_LP Gas                          690446 non-null  uint8
 76   source_cooking_fuel_Others                          690446 non-null  uint8
 77   source_cooking_fuel_Wood                            690446 non-null  uint8
 78   source_light_pre_eq                                 690446 non-null  object
 79   source_light_Electricity                            690446 non-null  uint8
 80   source_light_Generator                              690446 non-null  uint8
 81   source_light_Gobar Gas                              690446 non-null  uint8
 82   source_light_Kerosene                               690446 non-null  uint8
 83   source_light_Others                                 690446 non-null  uint8
 84   source_light_Solar                                  690446 non-null  uint8
 85   legal_ownership_status                              690446 non-null  object
 86   legal_ownership_Institutional                       690446 non-null  uint8
 87   legal_ownership_Other                               690446 non-null  uint8
 88   legal_ownership_Private                             690446 non-null  uint8
 89   legal_ownership_Public                              690446 non-null  uint8
 90   count_families                                      690446 non-null  uint8
 91   has_secondary_use                                   690446 non-null  uint8
 92   has_secondary_use_agriculture                       690446 non-null  uint8
 93   has_secondary_use_hotel                             690446 non-null  uint8
 94   has_secondary_use_rental                            690446 non-null  uint8
 95   has_secondary_use_institution                       690446 non-null  uint8
 96   has_secondary_use_school                            690446 non-null  uint8
 97   has_secondary_use_industry                          690446 non-null  uint8
 98   has_secondary_use_health_post                       690446 non-null  uint8
 99   has_secondary_use_gov_office                        690446 non-null  uint8
 100  has_secondary_use_use_police                        690446 non-null  uint8
 101  has_secondary_use_other                             690446 non-null  uint8
 102  age_household_head                                  690446 non-null  uint8
 103  education_level_household_head                      690446 non-null  object
 104  education_level_Bachelors or equivalent             690446 non-null  uint8
 105  education_level_Class 1                             690446 non-null  uint8
 106  education_level_Class 10                            690446 non-null  uint8
 107  education_level_Class 2                             690446 non-null  uint8
 108  education_level_Class 3                             690446 non-null  uint8
 109  education_level_Class 4                             690446 non-null  uint8
 110  education_level_Class 5                             690446 non-null  uint8
 111  education_level_Class 6                             690446 non-null  uint8
 112  education_level_Class 7                             690446 non-null  uint8
 113  education_level_Class 8                             690446 non-null  uint8
 114  education_level_Class 9                             690446 non-null  uint8
 115  education_level_Illiterate                          690446 non-null  uint8
 116  education_level_Intermediate or equivalent          690446 non-null  uint8
 117  education_level_Masters or equivalent               690446 non-null  uint8
 118  education_level_Non-formal education                690446 non-null  uint8
 119  education_level_Nursery/K.G./Kindergarten           690446 non-null  uint8
 120  education_level_Other                               690446 non-null  uint8
 121  education_level_Ph.D. or equivalent                 690446 non-null  uint8
 122  education_level_SLC or equivalent                   690446 non-null  uint8
 123  income_level_household                              690446 non-null  object
 124  income_level_Rs. 10 thousand                        690446 non-null  uint8
 125  income_level_Rs. 10-20 thousand                     690446 non-null  uint8
 126  income_level_Rs. 20-30 thousand                     690446 non-null  uint8
 127  income_level_Rs. 30-50 thousand                     690446 non-null  uint8
 128  income_level_Rs. 50 thousand or more                690446 non-null  uint8
dtypes: object(20), uint16(3), uint8(106)
memory usage: 179.1+ MB

#### <span style="color:DarkGoldenrod;">Particularidades del dataset</span> observadas durante el preproceso:  
* En algunas variables post-terremoto había más recuento de valores que antes del terremoto. Por ejemplo, había varios edificios que tras el terremoto tenían más plantas que antes.  
  Por supuesto, eran errores en la toma de datos. Sin embargo, al eliminar las variables post-terremoto, hemos eliminado las inconsistencias de este tipo.  
  <i>Veámoslo con un ejemplo: Si al número de plantas tras el terremoto le restamos el número de plantas antes del terremoto, nos debería dar un número negativo indicando cuántas plantas
  ha perdido:</i>

In [176]:
delta = structure["height_ft_post_eq"] - structure["height_ft_pre_eq"]
delta.value_counts()

 0     442163
-18     40044
-14     37856
-12     34128
-16     26851
        ...
 77         1
 15         1
-47         1
-51         1
-65         1
Name: count, Length: 110, dtype: int64

In [151]:
cols = list(features.columns[52:63])
cols

['has_superstructure_adobe_mud',
 'has_superstructure_mud_mortar_stone',
 'has_superstructure_stone_flag',
 'has_superstructure_cement_mortar_stone',
 'has_superstructure_mud_mortar_brick',
 'has_superstructure_cement_mortar_brick',
 'has_superstructure_timber',
 'has_superstructure_bamboo',
 'has_superstructure_rc_non_engineered',
 'has_superstructure_rc_engineered',
 'has_superstructure_other']

In [164]:
features[cols].sum(axis=1).value_counts()

1    485148
2    148173
3     46828
4      8623
5      1479
6       156
7        32
8         5
9         2
Name: count, dtype: int64

In [163]:
features.iloc[690443,52:63]

has_superstructure_adobe_mud              0
has_superstructure_mud_mortar_stone       1
has_superstructure_stone_flag             1
has_superstructure_cement_mortar_stone    0
has_superstructure_mud_mortar_brick       0
has_superstructure_cement_mortar_brick    0
has_superstructure_timber                 1
has_superstructure_bamboo                 0
has_superstructure_rc_non_engineered      0
has_superstructure_rc_engineered          0
has_superstructure_other                  0
Name: 690443, dtype: object

In [168]:
features[features[cols].sum(axis=1) == 9]

,building_id,vdcmun_id,vdcmun_name,district_id,district_name,ward_id,household_id,count_floors_pre_eq,age_building,plinth_area_sq_mts,height_mts_pre_eq,land_surface_condition,land_surface_Flat,land_surface_Moderate slope,land_surface_Steep slope,foundation_type,foundation_Bamboo/Timber,foundation_Cement-Stone/Brick,foundation_Mud mortar-Stone/Brick,foundation_Other,foundation_RC,roof_type,roof_Bamboo/Timber-Heavy roof,roof_Bamboo/Timber-Light roof,roof_RCC/RB/RBC,ground_floor_type,ground_floor_Brick/Stone,ground_floor_Mud,ground_floor_Other,ground_floor_RC,ground_floor_Timber,other_floor_type,other_floor_Not applicable,other_floor_RCC/RB/RBC,other_floor_TImber/Bamboo-Mud,other_floor_Timber-Planck,position,position_Attached-1 side,position_Attached-2 side,position_Attached-3 side,position_Not attached,plan_configuration,plan_configuration_Building with Central Courtyard,plan_configuration_E-shape,plan_configuration_H-shape,plan_configuration_L-shape,plan_configuration_Multi-projected,plan_configuration_Others,plan_configuration_Rectangular,plan_configuration_Square,plan_configuration_T-shape,plan_configuration_U-shape,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,source_water_pre_eq,source_water_Covered well,source_water_Open well,source_water_Others,source_water_Pipeline,source_water_River,source_water_Spring,source_water_Tubewell,source_cooking_fuel_pre_eq,source_cooking_fuel_Electricity,source_cooking_fuel_Gobar Gas,source_cooking_fuel_Kerosene,source_cooking_fuel_LP Gas,source_cooking_fuel_Others,source_cooking_fuel_Wood,source_light_pre_eq,source_light_Electricity,source_light_Generator,source_light_Gobar Gas,source_light_Kerosene,source_light_Others,source_light_Solar,legal_ownership_status,legal_ownership_Institutional,legal_ownership_Other,legal_ownership_Private,legal_ownership_Public,count_families,has_secondary_use,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,age_household_head,education_level_household_head,education_level_Bachelors or equivalent,education_level_Class 1,education_level_Class 10,education_level_Class 2,education_level_Class 3,education_level_Class 4,education_level_Class 5,education_level_Class 6,education_level_Class 7,education_level_Class 8,education_level_Class 9,education_level_Illiterate,education_level_Intermediate or equivalent,education_level_Masters or equivalent,education_level_Non-formal education,education_level_Nursery/K.G./Kindergarten,education_level_Other,education_level_Ph.D. or equivalent,education_level_SLC or equivalent,income_level_household,income_level_Rs. 10 thousand,income_level_Rs. 10-20 thousand,income_level_Rs. 20-30 thousand,income_level_Rs. 30-50 thousand,income_level_Rs. 50 thousand or more
658992,364104001411,3610,Shahid Lakhan Rural Municipality,36,Gorkha,361002,36410400141101,2,14,14,12,Steep slope,0,0,1,RC,0,0,0,0,1,RCC/RB/RBC,0,0,1,Brick/Stone,1,0,0,0,0,RCC/RB/RBC,0,1,0,0,Attached-1 side,1,0,0,0,Rectangular,0,0,0,0,0,0,1,0,0,0,1,1,1,1,1,1,1,0,1,1,0,Pipeline,0,0,0,1,0,0,0,Wood,0,0,0,0,0,1,Electricity,1,0,0,0,0,0,Private,0,0,1,0,1,1,0,0,0,1,0,0,0,0,0,0,44,Class 8,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,Rs. 10 thousand,1,0,0,0,0
669996,365002010582,3608,Gorkha Municipality,36,Gorkha,360807,36500201058201,3,65,55,8,Flat,1,0,0,Mud mortar-Stone/Brick,0,0,1,0,0,RCC/RB/RBC,0,0,1,Mud,0,1,0,0,0,Timber-Planck,0,0,0,1,Not attached,0,0,0,1,Rectangular,0,0,0,0,0,0,1,0,0,0,1,1,1,1,1,1,1,1,1,0,0,Spring,0,0,0,0,0,1,0,LP Gas,0,0,0,1,0,0,Electricity,1,0,0,0,0,0,Private,0,0,1,0,2,1,0,0,1,0,0,0,0,0,0,0,43,Illiterate,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,Rs. 10 thousand,1,0,0,0,0

In [ ]:
plt.hist(features.plinth_area_sq_ft.sort_index(), bins=100)
plt.yscale("log")
plt.plot()

In [ ]:
edades = features.age_building.unique()

In [ ]:
print(sorted(edades))

In [ ]:
features[features.age_building > 200]["age_building"].value_counts()

In [ ]:
plt.hist(data=features, x="age_building", bins=100)
plt.yscale("log")
plt.show()

In [ ]:
features.height_mts_pre_eq.value_counts().sort_index()